%link{:href => "//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css", :rel => "stylesheet"}/
%script{:src => "//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"}

- if @user.sales_rep_above_monthly_moving_average?
  :css
    .ct-series-a .ct-line, .ct-series-a .ct-point{
      stroke: #66CC00 !important;
    }

.container
  .row
    .col-6
      - today = DateTime.current.in_time_zone("US/Pacific")
      %h2 90 Day Average, #{today.strftime('%A')} the #{today.day.ordinalize}
  .row
    .col-6
      .bg-warning.px-2.d-flex.justify-content-between
        %div
          = @user.full_name
        %div
          - if @combined_deals_by_day
            Pace #{ @combined_deals_by_day.map{|k,v| v}.sum }
          - else 
            N/A
      %div.text-right.small
        %em
          Based on MTD sales
    .col-6
      //%strong Show Month End
      =# form_tag sales_rep_analytics_path(params[:sales_rep_id]), method: :get do
      =# text_field_tag "end_month"

  .row
    - (@combined_deals_by_month).each do |month, count|
      .col-12
        = month.strftime("%B")
        = number_with_precision(count, strip_insignificant_zeros: true)
  .row
    .col-12
      .text-success
        3 month average
        = @rolling_monthly_average_value
  %hr
  %h3= Date.current.strftime("%B")
  .ct-chart.ct-major-twelfth

- if @combined_deals_by_month.any?
  :javascript
    var options = {
      low: 0,
      high: #{@combined_deals_by_month.sort_by{|k, v| v}.reverse.first[1]}
    }

    var data = {
      // A labels array that can contain any sort of values
      labels: #{a = *(1..Date.current.end_of_month.day)},
      // Our series array that contains series objects or in this case series data arrays
      series: [
        #{@chart_data_month_counts_by_day}, #{@chart_monthly_counts_by_day}
      ]
    };

    // Create a new line chart object where as first parameter we pass in a selector
    // that is resolving to our chart container element. The Second parameter
    // is the actual data object.
    new Chartist.Line('.ct-chart', data, options);