.row
  .col-6
    %h3 Detail Job
    .form-group
      %label Stock Number
      %div{style: 'position:relative'}
        %i.fa.fa-spin.fa-refresh.text-muted.d-none.loading-spin{style:'position:absolute;right:10px;top:11px;'}
        = f.text_field :stock_number, placeholder: 'Stock #', class: 'form-control lookup-input'
        .small.text-muted
          Leave blank if non-stocking unit
    .form-group
      .row
        .col-6
          %label Complete By Date
          = text_field_tag 'complete_by_date', DateTime.current.in_time_zone("US/Pacific").strftime("%Y-%m-%d"), class: 'form-control'

        .col-6
          %label Complete By Time
          - complete_by_time = f.object.must_be_completed_by&.in_time_zone("US/Pacific")&.strftime("%l:%M %p")
          = text_field_tag 'complete_by_time', complete_by_time.presence || detail_job_complete_by_time(current_user.dealership), class: 'form-control'
    .form-group
      %strong Tasks
      .mb-1
        %label
          = f.check_box :add_dealership_default_task_1
          = current_user.dealership.dealership_configuration.detail_board_task_1
      .mb-1
        %label
          = f.check_box :add_dealership_default_task_2
          = current_user.dealership.dealership_configuration.detail_board_task_2
      .mb-1
        %label
          = f.check_box :add_dealership_default_task_3
          = current_user.dealership.dealership_configuration.detail_board_task_3
      .mb-1
        %label
          = f.check_box :add_dealership_default_task_4
          = current_user.dealership.dealership_configuration.detail_board_task_4
      .mb-1
        %strong Special Instructions
        = f.text_field :special_instructions, class: 'form-control', placeholder: 'Special Instructions (must be brief)'


  .col-6
    .form-group
      %label Color
      = f.text_field :color, class: 'form-control'
    .form-group
      %label Make
      = f.text_field :make, class: 'form-control'
    .form-group
      %label Model
      = f.text_field :model, class: 'form-control'
    .form-group
      %label Year
      = f.text_field :year, class: 'form-control'
    .form-group
      %label VIN
      = f.text_field :vin, class: 'form-control'
    %hr
    .form-group
      %label Sales Rep
      = f.select :sales_rep_id, options_for_select(current_user.dealership.users.active.pluck(:full_name, :id), current_user.id), {}, class: 'form-control mb-1'
    - if action == "edit"
      .form-group
        %label Detailer
        = f.select :detailer_id, options_for_select(current_user.dealership.users.active.pluck(:full_name, :id), f.object.detailer_id), {}, class: 'form-control mb-1'

      .form-group.text-right
        = link_to detail_job_path(f.object), class: 'text-danger', method: :delete do
          %i.fa.fa-trash
          Delete Detail Job



:javascript
  $(function(){
    //setup before functions
    var typingTimer;                //timer identifier
    var doneTypingInterval = 500;  //time in ms
    var $input = $('.lookup-input');

    //on keyup, start the countdown
    $input.on('input', function () {
      clearTimeout(typingTimer);
      typingTimer = setTimeout(doneTyping, doneTypingInterval);
    });

    //user is "finished typing," populate the hidden form, and submit that one
    function doneTyping () {
      if ($input.val()){
        $('.loading-spin').removeClass('d-none');

        $.ajax({
          url:"/detail_jobs/stock_number_search",
          method: 'PUT',
          data: { stock_number: $input.val() }
        });
      }
    }

  })