.container-fluid
  .row.mb-3
    .col-12
      %h3 Detail Board

    .col-12
      - unless current_user.permission_level.in?("detail_job_user")
        - # if the current user is a sales rep only allow this button to be shown if dealership settings allows
        - if current_user.permission_level.in?("sales_rep")
          - if current_user.dealership.dealership_configuration.allow_sales_reps_to_create_detail_jobs?
            %a.btn.btn-primary.brn-sm{"data-target" => "#newDetailJob", "data-toggle" => "modal", :href => "#"} Add Job
            .pull-right
              = link_to report_detail_jobs_path do
                .btn.btn-secondary
                  Report
        - else
          %a.btn.btn-primary.brn-sm{"data-target" => "#newDetailJob", "data-toggle" => "modal", :href => "#"} Add Job
          .pull-right
            = link_to report_detail_jobs_path do
              .btn.btn-secondary
                Report
  %hr
  - if flash[:error].present?
    .alert.alert-danger
      = flash[:error]

  = render partial: 'jobs_list', locals: {detail_jobs: @upcoming_detail_jobs}

  = render partial: 'jobs_list', locals: {detail_jobs: @historical_detail_jobs}

= render partial: 'detail_jobs/new'

= render partial: 'shared/map_popover'

:javascript
   var time = new Date().getTime();
   $(document.body).bind("mousemove keypress", function(e) {
       time = new Date().getTime();
   });

   function refresh() {
      if(new Date().getTime() - time >= 30000){
        window.location.reload(true);
      }
      else{
        setTimeout(refresh, 5000);
      }
   }

   setTimeout(refresh, 5000);