.container-fluid
  .row.mb-3
    .col-12
      %h3 Detail Board

    .col-12
      - unless current_user.permission_level.in?("detail_job_user")
        %a.btn.btn-primary.brn-sm{"data-target" => "#newDetailJob", "data-toggle" => "modal", :href => "#"} Add Job
        .pull-right
          = link_to report_detail_jobs_path do
            .btn.btn-secondary
              Report
  %hr
  - if flash[:error].present?
    .alert.alert-danger
      = flash[:error]

  .row
    .col-12
      - iterated = false
      - in_the_past = false
      - all_detailers = current_user.dealership.users.active.detail_job_user.pluck(:full_name, :id)

      - @detail_jobs.group_by{ |j| j.must_be_completed_by.in_time_zone("US/Pacific").to_date }.each do |day, jobs|
        %h3.text-center{class: ('mt-5' if iterated)}
          - if day < DateTime.current.in_time_zone("US/Pacific").to_date
            - unless in_the_past
              %div.bg-light.p-2.border.mb-3
                PAST DETAILS
            - in_the_past = true

          = day.strftime("%A, %b #{day.day.ordinalize}")
          = DateTime.current.in_time_zone("US/Pacific").strftime(' %l:%M %p') unless iterated
          - iterated = true #use this to determine 1st time round for spacing

        - jobs.each do |job|
          .row.mb-3
            .col-12
              .row.no-gutters
                .col-2.bg-blue.text-white.text-center{class: "#{vehicle_usage_type_text_color_class(job&.vehicle&.usage_type.presence || :is_new)}", style: "font-size:30px; background-color: #{vehicle_usage_type_bg_color(job&.vehicle&.usage_type.presence)}"}
                  = job.stock_number.presence || 'Non-Stock'

                .col-10{ class: detail_job_bg_class(job) }
                  .row.py-1.px-2{ class: detail_job_text_color(job) }
                    .col-3
                      - if job.add_dealership_default_task_1?
                        = job.dealership.dealership_configuration.detail_board_task_1
                      - if job.add_dealership_default_task_2?
                        = job.dealership.dealership_configuration.detail_board_task_2
                      %br
                      - if job.add_dealership_default_task_3?
                        = job.dealership.dealership_configuration.detail_board_task_3
                      - if job.add_dealership_default_task_4?
                        = job.dealership.dealership_configuration.detail_board_task_4
                      %br
                      = job.special_instructions

                    .col-3{style:'font-size: 20px;'}

                      - if job.status == :complete
                        Completed
                      - else
                        - time = job.must_be_completed_by.in_time_zone("US/Pacific")

                        - if time.to_date == Date.today.in_time_zone("US/Pacific").to_date
                          = time.strftime("Today %l:%M %p")
                        - else
                          = time.strftime("%A, %b #{time.day.ordinalize} %l:%M %p")
                    .col-2.text-center
                      .small
                        %strong
                          Detailer
                      - if job.detailer.present?
                        = job.detailer.full_name
                      - else
                        %div
                          = form_for job, url: detail_job_path(job), method: :put do |f|
                            = f.select :detailer_id, options_for_select(all_detailers, job.detailer_id), {include_blank: 'Select Detailer'}, class: 'form-control mb-1 form-control-sm',:onchange => "this.form.submit();"

                    .col-4.text-center
                      .row
                        .col-4
                          .small
                            %strong
                              On the Job
                          - if job.started_at.present?
                            = time_diff(job.started_at, job.completed_at || DateTime.current.utc)
                          - else
                            xx:xx:xx
                        .col-4
                          .small
                            %strong
                              Target
                          - if job.must_be_completed_by.present?
                            - #time between must be completed by and now, positive OR negative if behind schedule
                            - time_on_job = time_diff(job.completed_at || DateTime.current.utc, job.must_be_completed_by.utc)
                            = time_on_job
                            - if time_on_job.chars[0] == "-"
                              %i.fa.fa-caret-down.text-white{style:'font-size: 30px'}
                            - else
                              %i.fa.fa-caret-up.text-blue{style:'font-size: 30px'}
                          - else
                            xx::xx:xx
                        .col-4
                          - if job&.vehicle&.current_parking_tag.present?
                            = link_to vehicle_show_map_path(job.vehicle), remote: true do
                              %i.fa.fa-map-marker{style: 'font-size: 30px;'}
                          - elsif job.vehicle&.is_currently_on_test_drive?
                            %div{style: 'font-size: 20px;'}
                              %i.fa.fa-car
                              =" ~> "
              .row.bg-dark.text-white.no-gutters.p-1
                .col-4.text-center
                  = "#{job.year} #{job.make} #{job.model} #{job.color}"
                .col-4.text-center
                  .row
                    .col-6
                      = job.vin
                    .col-6
                      = job.sales_rep&.full_name
                .col-4.text-right
                  - unless current_user.permission_level.in?("detail_job_user")
                    = link_to edit_detail_job_path(job), remote: true, class: 'mr-3' do
                      %i.fa.fa-pencil

                  - if job.status == :not_started
                    = link_to detail_job_start_job_path(job), method: :put do
                      %btn.btn.btn-sm.btn-success
                        START
                  - elsif job.status == :in_progress
                    = link_to detail_job_complete_job_path(job), method: :put do
                      %btn.btn.btn-sm.btn-danger
                        MARK DONE
                  - elsif job.status == :complete
                    = link_to detail_job_reset_job_path(job), method: :put do
                      %btn.btn.btn-sm.btn-secondary
                        RESET


= render partial: 'detail_jobs/new'

= render partial: 'shared/map_popover'


:javascript
   var time = new Date().getTime();
   $(document.body).bind("mousemove keypress", function(e) {
       time = new Date().getTime();
   });

   function refresh() {
      if(new Date().getTime() - time >= 30000)
        window.location.reload(true);
      else
        setTimeout(refresh, 5000);
      end
   }

   setTimeout(refresh, 5000);