%h3.text-center= @dealership.name


.container
  .row
    .col-md-9
      .card
        = form_for @dealership, url: dealership_path(@dealership), method: :put do |f|
          .card-body
            .form-group
              %label Dealership Name
              = f.text_field :name, class: 'form-control'
            .form-group
              .row
                .col-6
                  %label MTD Start Date
                  = f.text_field :custom_mtd_start_date, class: 'form-control datepicker'
            .form-group
              = f.submit 'Update', class: 'btn btn-primary'
    .col-md-3
      .card.bg-light
        .card-body
          PLACEHOLDER SETTINGS
          %hr
          CUSTOM FORMS
          %hr
          PERMISSIONS
          %HR
          etc
  %hr
  .row
    .col-md-4
      %h4 Team members
      %ul.list-group
        - @dealership.users.each do |user|
          %li.list-group-item
            = user.full_name
:javascript 
  $(function() {
    $('.datepicker').datepicker({
      dateFormat: 'yy-mm-dd'
     });
  });