%h3.text-center= @dealership.name

.container
  = form_for @dealership, url: dealership_path(@dealership), method: :put do |f|
    .row
      .col-md-9
        .card
          
          .card-body
            .form-group
              %label Dealership Name
              = f.text_field :name, class: 'form-control'
            .form-group
              .row
                .col-6
                  %label MTD Start Date
                  = f.text_field :custom_mtd_start_date, class: 'form-control datepicker'
            .form-group
              = f.submit 'Update', class: 'btn btn-primary'
      .col-md-3
        .card.bg-light
          .card-body
            Data Sync
            %hr
            %label Provider Id
            = f.fields_for :data_sync do |ff|
              = ff.text_field :provider_id, class: 'form-control'
            %hr
            %small
              %em Last sync:
              = @dealership.data_sync.last_run_at&.strftime('%y-%m-%d') || "N/A"
  %hr
  .row
    .col-md-4
      %h4 Team members
      %ul.list-group
        - @dealership.users.each do |user|
          %li.list-group-item
            - if user.reset_password_token.present?
              %i.fa.fa-unlink
            = link_to user.full_name, dealership_user_path(current_user.dealership, user), remote: true

        #newUserForm
        = link_to "Add new", new_dealership_user_path(@dealership), remote: true
    .col-md-8
      #userShow  

:javascript 
  $(function() {
    $('.datepicker').datepicker({
      dateFormat: 'yy-mm-dd'
     });
  });