.row
  .col-8
  .col-4
    = form_tag home_user_activity_index_path, method: :get, remote: true do
      = select_tag 'event_type', options_for_select(Event.event_types, @event_type), class: 'form-control form-control-sm', include_blank: 'All Actions', onChange: 'Rails.fire(this.form, "submit")'
      = submit_tag 'submit', class: 'd-none'
.row.mb-2
  .col-12
    .row
      .col-4
      .col-8
        .row.small.text-center
          .col-4 Today
          .col-4 Last 7 Days
          .col-4 MTD

- @role_grouped_user_events.each do |role, users_with_events|
  .row.mb-2
    .col-12
      %strong
        = role.titleize
    .col-12
      - users_with_events.sort_by{|_,events_hash| events_hash["mtd"]}.reverse.to_h.each do |user, event_count|
        .row.small
          .col-4
            = user.full_name
          .col-8.text-center
            .row
              .col-4{class: ('text-orange' if event_count["1"]&.zero?) }
                = event_count["1"]

              .col-4{class: ('text-orange' if event_count["7"]&.zero?) }
                = event_count["7"]
              .col-4{class: ('text-orange' if event_count["mtd"]&.zero?) }
                = event_count["mtd"]

