%h3.text-center= @dealership.name

.container
  = render partial: 'dealerships/partials/subnavs', locals: { active_tab: 'daily_checklist_config' }

  .row
    .col-12
      .card
        .card-body
          .row
            // left side, config here
            .col-6
              = form_for @dealership.dealership_configuration, url: dealership_daily_checklist_config_path(@dealership, @dealership.dealership_configuration), method: :put do |f|
                %h4 Sales Managers
                .row
                  .col-1
                    %i.fa.fa-exclamation.bg-danger.px-2.p-1.text-white{style: 'border-radius: 4px;'}
                  .col-11
                    %strong Sales Manager's Red Level system notifications
                    %br

                    %i Note on vehicle
                    %br
                    %i Lost Vehicle
                .row
                  .col-1
                  .col-11.mt-3
                    %strong Sales Manager's custom notifications
                    %br
                    %small
                      %i Stock Vehicle left on test drive for more than
                      = f.text_field :include_check_for_test_drives_longer_than, placeholder: 'xx', style: 'width: 50px;'
                      days
                      %br
                      (if days left empty, no notifications will be shown)


                .row.mt-3
                  .col-1
                    %i.fa.fa-check.bg-warning.px-2.p-1.text-dark{style: 'border-radius: 4px;'}
                  .col-11
                    %strong Sales Manager's Yellow Level system notifications
                    %br
                    %small
                      %i User Created Vehicle (UCV) NEW CAR older than
                      = f.text_field :include_check_for_new_ucv_older_than, placeholder: 'xx', style: 'width: 50px;'
                      days
                      %br
                      (if days left empty, no notifications will be shown)
                    %br
                    %small
                      %i User Created Vehicle (UCV) USED CAR older than
                      = f.text_field :include_check_for_used_ucv_older_than, placeholder: 'xx', style: 'width: 50px;'
                      days
                      %br
                      (if days left empty, no notifications will be shown)

                .row.mt-3
                  .col-12
                    %strong Sales Managers Custom Reminders
                .row
                  .col-1
                  .col-11
                    Create up to 3 custom checklist notifications for Sales Manangers

                    - (0..2).each do |i|
                      .row
                        .col-12
                          = text_field_tag "dealership_configuration[sales_managers_custom_reminder_checklist_items][]text", nil, value: f.object.sales_managers_custom_reminder_checklist_items.try(:[], i).try(:[], 'text') || "", class: 'mb-1', placeholder: "Custom Item #{i+1}", style: 'width: 75%;'
                          repeat

                          = text_field_tag "dealership_configuration[sales_managers_custom_reminder_checklist_items][]repeat_every", nil, value: f.object.sales_managers_custom_reminder_checklist_items.try(:[], i).try(:[], 'repeat_every') || "", class: 'mb-1', placeholder: "x", style: 'width: 5%;'
                          days

                          = hidden_field_tag "dealership_configuration[sales_managers_custom_reminder_checklist_items][]anchor_date", nil, value: f.object.sales_managers_custom_reminder_checklist_items.try(:[], i).try(:[], 'anchor_date') || Time.current.in_time_zone("US/Pacific").to_date

                .row.mt-3
                  .col-12
                    %strong Show Sales Notifications On:
                    %br

                    - (0..6).each do |i|
                      .pull-left.mr-4.text-center
                        = hidden_field_tag "[days_of_the_week_to_show_sales_manager_notifications][#{Date::ABBR_DAYNAMES[i]}]", 0
                        = check_box_tag "[days_of_the_week_to_show_sales_manager_notifications][#{Date::ABBR_DAYNAMES[i]}]", 1, f.object.days_of_the_week_to_show_sales_manager_notifications.try(:[], i) == "1"
                        %br
                        = Date::ABBR_DAYNAMES[i]


                %hr
                %hr

                .row
                  .col-12
                    %h4 Service Managers
                .row
                  .col-1
                  .col-11
                    Service Manager notifications can only be completed by Service Managers



                .row.mt-3
                  .col-1
                    %span.bg-warning.px-2.p-1.text-dark{style: 'border-radius: 4px;'} S
                  .col-11
                    %strong Service Manager Yellow level system notifications
                    %br
                    %small
                      %i You have a Service Loaner out for longer than
                      = f.text_field :include_check_for_srv_loaner_older_than, placeholder: 'xx', style: 'width: 50px;'
                      days
                      %br
                      (if days left empty, no notifications will be shown)

                .row.mt-3
                  .col-12
                    %strong Service Managers Custom Reminders
                .row
                  .col-1
                  .col-11
                    Create up to 2 custom checklist notifications for Service Manangers

                    - (0..1).each do |i|
                      .row
                        .col-12
                          = text_field_tag "dealership_configuration[service_managers_custom_reminder_checklist_items][]text", nil, value: f.object.service_managers_custom_reminder_checklist_items.try(:[], i).try(:[], 'text') || "", class: 'mb-1', placeholder: "Custom Item #{i+1}", style: 'width: 75%;'
                          repeat

                          = text_field_tag "dealership_configuration[service_managers_custom_reminder_checklist_items][]repeat_every", nil, value: f.object.service_managers_custom_reminder_checklist_items.try(:[], i).try(:[], 'repeat_every') || "", class: 'mb-1', placeholder: "x", style: 'width: 5%;'
                          days

                          = hidden_field_tag "dealership_configuration[service_managers_custom_reminder_checklist_items][]anchor_date", nil, value: f.object.service_managers_custom_reminder_checklist_items.try(:[], i).try(:[], 'anchor_date') || Time.current.in_time_zone("US/Pacific").to_date

                .row.mt-3
                  .col-12
                    %strong Show Service Notifications On:
                    %br

                    - (0..6).each do |i|
                      .pull-left.mr-4.text-center
                        = hidden_field_tag "[days_of_the_week_to_show_service_manager_notifications][#{Date::ABBR_DAYNAMES[i]}]", 0
                        = check_box_tag "[days_of_the_week_to_show_service_manager_notifications][#{Date::ABBR_DAYNAMES[i]}]", 1, f.object.days_of_the_week_to_show_service_manager_notifications.try(:[], i) == "1"
                        %br
                        = Date::ABBR_DAYNAMES[i]

                .row
                  .col-12
                    = f.submit "Update Daily Checklist Settings", class: 'btn btn-primary mt-3 pull-right'


            // right side, report here
            .col-6{style: 'border-left: 1px solid #efefef;'}
              %h4 Daily Reminder Report
              %em Records of prior 7 days
              .small
                %em
                  Click on icon to see checklist
              %hr
              - @dealership.daily_checklists.order(created_at: :desc).first(7).each do |checklist|
                .row.mt-3
                  .col-4
                    = checklist.created_at.in_time_zone('US/Pacific').strftime("%m.%d.%Y")
                  .col-4
                    %a{"data-target" => "#sales-#{dom_id(checklist)}", "data-toggle" => "modal", :href => "#"}
                      %span.rounded.p-2.text-white{class: daily_checklist_report_bg_class(checklist, :sales)} Sales Mgr

                    = render partial: 'layouts/shared/daily_checklists/sales_manager_items', locals:{id:"sales-#{dom_id(checklist)}", checklist: checklist, redirect_to: dealership_daily_checklist_config_index_path(@dealership)}

                  .col-4
                    %a{"data-target" => "#service-#{dom_id(checklist)}", "data-toggle" => "modal", :href => "#"}
                      %span.rounded.p-2.text-white{class: daily_checklist_report_bg_class(checklist, :service)} Service Mgr

                    = render partial: 'layouts/shared/daily_checklists/service_manager_items', locals:{id:"service-#{dom_id(checklist)}", checklist: checklist, redirect_to: dealership_daily_checklist_config_index_path(@dealership)}

