%h5 Map Display Mode
= link_to lot_view_path do
  %btn.btn.btn-sm{class: (params.dig(:display_mode).nil? ? 'btn-primary':'btn-outline-primary')} All Vehicles

= link_to lot_view_path(display_mode: :no_tag_4_days) do
  %btn.btn.btn-sm{class: (params.dig(:display_mode) == 'no_tag_4_days' ? 'btn-primary':'btn-outline-primary')} No tag 4 days

= link_to lot_view_path(display_mode: :hold_vehicles) do
  %btn.btn.btn-sm{class: (params.dig(:display_mode) == 'hold_vehicles' ? 'btn-primary':'btn-outline-primary')} Hold Vehicles

= link_to lot_view_path(display_mode: :no_test_drives) do
  %btn.btn.btn-sm{class: (params.dig(:display_mode) == 'no_test_drives' ? 'btn-primary':'btn-outline-primary')} No test drives

- if current_user.permission_level == "admin"
  .small.text-orange.cursor-pointer.mt-1{data: {target:"#more-display-modes", toggle:'collapse'}} more options

  %div{id:"more-display-modes", class: ('collapse' unless params.dig(:display_mode).in?(['no_tag_90_days','no_tag_60_days','no_tag_14_days']) ) }
    .pt-1
      = link_to lot_view_path(display_mode: :no_tag_90_days) do
        %btn.btn.btn-sm{class: (params.dig(:display_mode) == 'no_tag_90_days' ? 'btn-primary':'btn-outline-primary')} No tag 90 days (new)

      = link_to lot_view_path(display_mode: :no_tag_60_days) do
        %btn.btn.btn-sm{class: (params.dig(:display_mode) == 'no_tag_60_days' ? 'btn-primary':'btn-outline-primary')} No tag 60 days (used)

      = link_to lot_view_path(display_mode: :no_tag_14_days) do
        %btn.btn.btn-sm{class: (params.dig(:display_mode) == 'no_tag_14_days' ? 'btn-primary':'btn-outline-primary')} No tag 14 days
