%ul.nav.nav-tabs{:role => "tablist"}
  %li.nav-item
    %a.nav-link.active{"data-toggle" => "tab", :href => "#today", :role => "tab"} Today
  %li.nav-item
    %a.nav-link{"data-toggle" => "tab", :href => "#last_day", :role => "tab"} Last 24 Hours
  %li.nav-item
    %a.nav-link{"data-toggle" => "tab", :href => "#users", :role => "tab"} Users

/ Tab panes
.tab-content.mt-3
  #today.tab-pane.in.active{:role => "tabpanel"}
    %h5 Recent Activity (Today)
    - @events_from_today.group_by(&:event_type).each do |event_type, events|
      %div.mb-2
        %strong
          - if event_type == "change_stall"
            Stall Updates
          - elsif event_type == "tag"
            Confirm Stall
          - else
            = event_type.titleize
        .small
          - events.group_by(&:user).sort.each do |user, events|
            = "#{user.full_name} (#{events.count})"
            - if event_type.in?(["create_vehicle", "test_drive"])
              - events.each do |event|
                - if event.tag.nil?
                  - stock_number = eval(event.event_details).to_h["stock_number"]
                  - vehicle = Vehicle.find_by_stock_number(stock_number)
                - else
                  - vehicle = event&.tag&.vehicle
                - if vehicle.present?
                  = link_to vehicle_show_info_modal_path(vehicle), remote: true, onclick:"$('#vehicle_data_container').html('Loading...');" do
                    = "(#{vehicle.stock_number})"
            %br
  #last_day.tab-pane{:role => "tabpanel"}
    %h5 Recent Activity (24 Hours)
    - @events_from_24h.group_by(&:event_type).each do |event_type, events|
      %div.mb-2
        %strong
          - if event_type == "change_stall"
            Stall Updates
          - elsif event_type == "tag"
            Confirm Stall
          - else
            = event_type.titleize
        .small
          - events.group_by(&:user).sort.each do |user, events|
            = "#{user.full_name} (#{events.count})"
            - if event_type.in?(["create_vehicle", "test_drive"])
              - events.each do |event|
                - if event.tag.nil?
                  - stock_number = eval(event.event_details).to_h["stock_number"]
                  - vehicle = Vehicle.find_by_stock_number(stock_number)
                - else
                  - vehicle = event&.tag&.vehicle

                - if vehicle.present?
                  = link_to vehicle_show_info_modal_path(vehicle), remote: true, onclick:"$('#vehicle_data_container').html('Loading...');" do
                    = "(#{vehicle.stock_number})"
            %br
  #users.tab-pane{:role => "tabpanel"}
    #user-activity-container
      %i.fa.fa-refresh.fa-spin

- if @vehicles_on_charge.any?
  %hr
  %h5 Vehicles On Charge
  - @vehicles_on_charge.each do |vehicle|
    %div.mb-2.small
      - event = vehicle.events.where('event_type': 'charge_vehicle').last
      .small
        = event.user.full_name
        = link_to vehicle_show_info_modal_path(vehicle), remote: true, onclick:"$('#vehicle_data_container').html('Loading...');" do
          (#{vehicle.stock_number})

        - time_diff = Time.now - event.started_at.in_time_zone("Pacific Time (US & Canada)")

        = time_diff(event.started_at, Time.current)

%hr
%h5{style:'margin-bottom:-2px;'} Vehicles Currently Off Lot
.text-danger{style:'font-size:9px;margin-bottom:10px;'}
  &#9632; = longer than 2 days off lot

- loaners = @vehicles_off_lot.group_by(&:usage_type).values_at("loaner")
- stock_vehicles = @vehicles_off_lot.group_by(&:usage_type).values_at("is_new", "is_used", "lease_return", "wholesale_unit")

- usage_types = {"Loaners": loaners.compact.flatten, "Stock Vehicles": stock_vehicles.compact.flatten }

- usage_types.each do |usage_type, vehicles|
  - next unless vehicles.any?
  %div.mb-2.small
    %strong
      = "#{usage_type} (#{vehicles.count})"

    - vehicles.sort_by{|v| v.events.where('event_type': ['test_drive' ,'fuel_vehicle']).last.started_at}.each do |vehicle|
      - next unless vehicle
      - event = vehicle.events.where('event_type': ['test_drive' ,'fuel_vehicle']).last
      .small
        = event.user.full_name
        = link_to vehicle_show_info_modal_path(vehicle), remote: true, onclick:"$('#vehicle_data_container').html('Loading...');" do
          (#{vehicle.stock_number})
        #{event.event_type.humanize} #{event.started_at.in_time_zone("Pacific Time (US & Canada)").strftime('%m/%d/%Y at %l:%M %p')}

        - time_diff = Time.now - event.started_at.in_time_zone("Pacific Time (US & Canada)")

        - mm, ss = time_diff.divmod(60)
        - hh, mm = mm.divmod(60)
        - dd, hh = hh.divmod(24)
        %span{class: ('text-danger' if dd >= 2 )}

          = "#{pluralize(dd, 'day')}, #{pluralize(hh, 'hour')}"



:javascript
  $(function(){
    $('.nav-tabs a').on('shown.bs.tab', function(event){
      if (event.target.hash == "#users"){
        $.ajax({
          url:"/home/user_activity",
          method: 'GET',
        });
      }
    });
  })