= render partial: 'shared/maxbox_dependencies'
= javascript_include_tag('map_builder')
.container-fluid
  .row
    .col-md-4
      #shape-form.d-none.bg-warning.mb-3.p-2
        .text-center
          %small.small
            %strong
              Add Shape
        = form_for :shape, url: shapes_path, method: :post do |f|
          .form-group
            .row
              .col-6
                %label 
                  %small Shape Type
                = f.select :shape_type, Shape.shape_types.to_a, {}, class: 'form-control'
              .col-6
                %label 
                  %small Number of Splits
                = select_tag 'shape[horizontal_splits]', options_for_select([0, 1, 3]), class: 'form-control'
            = f.text_area :geo_info, class: 'form-control d-none', placeholder: 'Draw new shape on the map'
          = f.submit class: 'btn btn-sm btn-primary'
      
      .bg-light.p-2
        %small.small
          %strong
            Map Settings 
          %br
        = form_for current_user.dealership, url: dealership_path(current_user.dealership), method: :put do |f|
          .row
            .col-4
              %label.small
                Rotation
              = f.number_field :map_bearing, class: 'form-control input-sm', step: 0.1, placeholder: '280'
            .col-4
              %label.small
                Zoom
              = f.number_field :map_zoom, class: 'form-control input-sm', step: 0.1, placeholder: '20'
            .col-1
              %label
              =f.submit 'Update', class: 'btn btn-sm btn-success mt-2'
    

      %hr
      %ul.list-group
        - @shapes.each do |shape|
          %li.list-group-item{id: "#{shape.id}" }
            %i.fa{class: map_builder_icon_shape(shape)}
            = "#{shape.shape_type.titleize}: #{shape.id}"
            .pull-right
              =link_to shape_path(shape), method: :delete do
                %i.fa.fa-trash
    .col-md-8
      #map{:style => "width: 100%; height: 550px;"}
