= render partial: 'shared/maxbox_dependencies'
= javascript_include_tag('lot_view')
.container-fluid
  .row
    .col-lg-4
      .bg-light.p-3
        
        = form_tag root_path(params["sort_filters"]) do
          .row
            .col-md-6
              %small.small New or Used
              = select_tag 'sort_filters[new_or_used]', options_for_select(['All','New', 'Used'], nil), class: 'form-control'
            .col-md-6
              %small.small Make
              = select_tag 'sort_filters[make]', options_for_select(['All','Jeep', 'Volvo'], nil), class: 'form-control'

      .mt-5
        - @users_with_events.each do |user|
          %strong
            = user.full_name
          = user.events.group_by(&:event_type).map{|k, v| pluralize(v.count, k.humanize) }.join(', ')
        
          %hr.my-2
      
    .col-lg-8{style: 'position: relative;'}
      #vehicle_data_container
      #map{ :style => "width: 100%; height: 550px" }
      
      .d-none
        //place all dom-dependent info here
        %input#dealership_map_bearing{value: current_user.dealership.map_bearing }
        %input#dealership_map_zoom{value: current_user.dealership.map_zoom }  