/ Page Content
= render partial: 'shared/maxbox_dependencies'
= javascript_include_tag('map_interactor')
.container-fluid
  .row
    .col-lg-4
      %h2.m-0.mt-3 Lot View
      %small.small.text-muted
        - @grouped_shapes.each do |k, v|
          = pluralize(v, k).titleize

      = render partial: 'tags/new'

      %ul.list-group
        - @vehicles.each do |vehicle|
          %li.list-group-item.vehicle-list{id: dom_id(vehicle)}
            .row
              .col
                %i.fa.fa-car
                = vehicle.vin
              .col
                - if vehicle.current_parking_tag.present?
                  Parked
                  = time_ago_in_words( vehicle.current_parking_tag.created_at) + " ago"
                  - if vehicle.current_parking_tag.note.present?
                    %i.fa.fa-file.has-popover.text-success{data: { content: vehicle.current_parking_tag.note, placement: "bottom" }}

                - else
                  Not Parked
              .col-1
                - if vehicle.current_parking_tag.present?
                  = link_to tag_deactivate_path(vehicle.current_parking_tag) do
                    %i.fa.fa-refresh

    .col-lg-8
      #map{ :style => "width: 100%; height: 550px;border: 1px solid #dee2e6;" }
      
      .d-none
        //place all dom-dependent info here
        %input#dealership_map_bearing{value: current_user.dealership.map_bearing }