= render partial: 'shared/maxbox_dependencies'
= javascript_include_tag('lot_view')
.container-fluid
  .row
    .col-lg-4
      .bg-light.p-3
        
        = form_tag root_path(params["sort_filters"]) do

          .row
            .col-md-6
              %small.small New or Used
              = select_tag 'sort_filters[new_or_used]', options_for_select(['All','New', 'Used'], nil), class: 'form-control'
            .col-md-6
              %small.small Make
              = select_tag 'sort_filters[make]', options_for_select(['All','Jeep', 'Volvo'], nil), class: 'form-control'


      %ul.media-list.mt-3.mb-0.px-0
        - @user_events.each do |event|

          %li.media
            .media-body.small.px-2.py-0
              %span.text-muted.pull-right
                %small.text-muted= time_ago_in_words(event.created_at)
              %strong.text-success= event.user.full_name
              %p.pt-1.mb-0
                = event_type_short_description(event).html_safe
                
                = link_to "...see more", event_path(event)
          %hr.my-2
      
    .col-lg-8
      #map{ :style => "width: 100%; height: 550px" }
      
      .d-none
        //place all dom-dependent info here
        %input#dealership_map_bearing{value: current_user.dealership.map_bearing }
        %input#dealership_map_zoom{value: current_user.dealership.map_zoom }  