:css
  body, html{
    height: 100%;
    position: relative;
  }
#header
  = wicked_pdf_image_tag 'dealer_logo.png'

.left-col

  .client-last-name= @deal.client_last_name

  %div{style: 'margin-top: 0px;'}
    = "#{@deal.year} #{@deal.make} #{@deal.model}"
    &nbsp;
    %span{style: 'border:1px solid #e0e0e0;margin-right: 5px;'}
      - if @deal.certified_pre_owned
        &#10006;
      - else
        &nbsp;&nbsp;&nbsp;
    CPO
  
  %div{style: 'margin-top: 10px;'}
    %div{style: 'width:30%;display:inline-block;'}
      %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
        %strong
          = @deal.deal_number
      %div{style: 'font-size: 12px;'}
        Deal Number
    %div{style: 'width:30%;display:inline-block;'}
      %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
        %strong= @deal.stock_number
      %div{style: 'font-size: 12px;'}
        Stock Number
    %div{style: 'width:30%;display:inline-block;'}
      %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
        %strong= Date.current.strftime("%m/%d/%Y")
      %div{style: 'font-size: 12px;'}
        Date

  %div{style: 'margin-top: 10px;'}
    %div{style: 'width:30%;display:inline-block;'}
      %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
        %strong= @deal.deal_type
      %div{style: 'font-size: 12px;'}
        Deal Type

  %div{style: 'margin-top: 10px;'}
    %div{style: 'width:30%;display:inline-block;'}
      %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
        %strong= number_to_currency(@deal.selling_price)
      %div{style: 'font-size: 12px;'}
        Selling Price

  %div{style: 'margin-top: 10px;'}
    %div{style: 'width:30%;display:inline-block;'}
      %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
        %strong= number_to_currency(@deal.trade_allowance)
      %div{style: 'font-size: 12px;'}
        Trade Allowance

  %div{style: 'margin-top: 10px;'}
    %div{style: 'width:30%;display:inline-block;'}
      %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
        %strong= number_to_currency(@deal.trade_acv)
      %div{style: 'font-size: 12px;'}
        Trade ACV

  %div{style: 'margin-top: 10px;'}
    %div{style: 'width:30%;display:inline-block;'}
      %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
        %strong= @deal.trade_bank_name
      %div{style: 'font-size: 12px;'}
        Trade Bank Name

  %div{style: 'margin-top: 10px;'}
    %div{style: 'width:30%;display:inline-block;'}
      %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
        %strong= number_to_currency(@deal.trade_payoff_amount)
      %div{style: 'font-size: 12px;'}
        Trade Payoff Amount

  %div{style: 'margin-top: 10px;'}
    %div{style: 'width:30%;display:inline-block;'}
      %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
        %strong= @deal.trade_account_number
      %div{style: 'font-size: 12px;'}
        Trade Account Number

  %div{style: 'margin-top: 10px;'}
    %div{style: 'width:30%;display:inline-block;'}
      %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
        %strong= @deal.send_payoff_address
      %div{style: 'font-size: 12px;'}
        Send Payoff Address

  %div{style: 'margin-top: 10px;'}
    %div{style: 'width:30%;display:inline-block;'}
      %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
        %strong= @deal.good_through_date
      %div{style: 'font-size: 12px;'}
        Good Through Date

  %div{style: 'margin-top: 10px;'}
    %div{style: 'width:30%;display:inline-block;'}
      %span{style: 'border:1px solid #e0e0e0;margin-right: 5px;'}
        - if @deal.dealer_demo
          &#10006;
        - else
          &nbsp;&nbsp;&nbsp;
      Dealer Demo

    %div{style: 'width:30%;display:inline-block;'}
      %span{style: 'border:1px solid #e0e0e0;margin-right: 5px;'}
        - if @deal.loaner_car
          &#10006;
        - else
          &nbsp;&nbsp;&nbsp;
      Loaner Car
      
  %div{style: 'margin-top: 10px;'}
    %div{style: 'font-size: 12px;'}
      Disclosure
    %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
      %strong= @deal.disclosure

  %div{style: 'margin-top: 10px;'}
    %div{style: 'font-size: 12px;'}
      Deal Notes
    %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
      %strong= @deal.deal_notes


.right-col
  %div{style: 'margin-top: 10px;'}
    %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
      %strong= @deal.time_agreed
    %div{style: 'font-size: 12px;'}
      Time Agreed

  %div{style: 'margin-top: 10px;'}
    %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
      %strong= @deal.time_in_finance
    %div{style: 'font-size: 12px;'}
      Time In- Finance

  %div{style: 'margin-top: 10px;'}
    %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
      %strong= @deal.time_out_finance
    %div{style: 'font-size: 12px;'}
      Time Out- Finance


  %div{style: 'margin-top: 10px;'}
    %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
      %strong= number_to_currency(@deal.down_payment)
    %div{style: 'font-size: 12px;'}
      Down Payment

  %div{style: 'margin-top: 10px;'}
    %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
      %strong= @deal.term
    %div{style: 'font-size: 12px;'}
      Term

  %div{style: 'margin-top: 10px;'}
    %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
      %strong= number_to_currency(@deal.quoted_payment)
    %div{style: 'font-size: 12px;'}
      Quoted Payment

  %div{style: 'margin-top: 10px;'}
    %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
      %strong= @deal.rate_apr
    %div{style: 'font-size: 12px;'}
      Rate APR

  %div{style: 'margin-top: 10px;'}
    %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
      %strong= @deal.miles_per_year
    %div{style: 'font-size: 12px;'}
      Miles Per Year (LSE)

  %div{style: 'margin-top: 10px;'}
    %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
      %strong= @deal.rebates
    %div{style: 'font-size: 12px;'}
      Rebates

  %div{style: 'margin-top: 10px;'}
    %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
      %strong= @deal.program_description
    %div{style: 'font-size: 12px;'}
      Program Description

  %div{style: 'margin-top: 10px;'}
    %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
      %strong= @deal.sales_rep
    %div{style: 'font-size: 12px;'}
      Sales Rep

  %div{style: 'margin-top: 10px;'}
    %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
      %strong= @deal.split_rep
    %div{style: 'font-size: 12px;'}
      Split Rep

  %div{style: 'margin-top: 10px;'}
    %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
      %strong= @deal.desk_manager
    %div{style: 'font-size: 12px;'}
      Desk Manager

  %div{style: 'margin-top: 10px;'}
    %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
      %strong= @deal.finance_manager
    %div{style: 'font-size: 12px;'}
      Finance Manager

  %div{style: 'margin-top: 10px;'}
    %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
      %strong= @deal.missing_stips_1
    %div{style: 'font-size: 12px;'}
      Missing Stips1

  %div{style: 'margin-top: 10px;'}
    %div{style: 'border:1px solid #e0e0e0;padding: 5px;'}
      %strong= @deal.missing_stips_2
    %div{style: 'font-size: 12px;'}
      Missing Stips2


%div{style:'clear:both;'}
#footer{style: 'position: absolute; bottom: 0px;left: 0; right: 0'}
  = wicked_pdf_image_tag 'logo_black_small.png', style: 'margin:auto; display:block; width: 100px;'
