:css
  body, html{
    height: 100%;
    position: relative;
    font-size: 12px;
  }

  .border{
    border: 1px solid #737373;
    padding: 5px 10px;
  }

  .label{
    height: 14px;
    font-size: 11px;
  }

  .inverse{
    padding: 2px 5px;
    background-color: #3a3a3a;
    color: #fff;
  }

#header
  %div{style: 'width: 30%;float:left;'}
    = params.key?('debug') ? image_tag('dealer_logo.png', style: 'width: 200px;') : wicked_pdf_image_tag('dealer_logo.png', style: 'width: 200px;')
    
  %div{style: 'width: 30%;float:left;margin-left:10px;'}
    %h1.border{style: 'margin: 0;'}
      = @deal.client_last_name
      
%div{style:'clear:both;padding-top:5px;'}

  %div{style: 'width: 60px;float:left;margin: 5px 5px 5px 0;' }
    .label
    .border
      = @deal.year
  %div{style: 'width: 100px;float:left;margin: 5px' }
    .label
    .border
      = @deal.make
  %div{style: 'width: 160px;float:left;margin: 5px' }
    .label
    .border
      = @deal.model
  %div{style: 'width: 105px;float:left;margin: 5px' }
    .label Time Agreed
    .border
      = @deal.time_agreed
  %div{style: 'width: 103px;float:left;margin: 5px' }
    .label Time In- Finance
    .border
      = @deal.time_in_finance
  %div{style: 'width: 105px;float:left;margin: 5px 0 5px 5px' }
    .label Time Out- Finance
    .border
      = @deal.time_out_finance

%div{style:'clear:both;'}


%div{style:'width: 70%; float:left;'}
  // first row of 3 (plus CPO)
  %div{style: 'width: 110px;float:left;margin: 5px 5px 5px 0;' }
    .label
      Deal Number
    .border
      = @deal.deal_number
  %div{style: 'width: 110px;float:left;margin: 5px 5px 5px 0;' }
    .label
      Stock Number
    .border
      = @deal.stock_number
  %div{style: 'width: 110px;float:left;margin: 5px 5px 5px 0;' }
    .label
      Date
    .border
      = @deal.deal_date
  %div{style: 'width: 90px;float:left;margin: 5px 5px 5px 0;padding-left: 20px;' }
    .label
    %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 22px;'}
      - if @deal.certified_pre_owned
        &#10006;
      - else
        &nbsp;&nbsp;&nbsp;
    CPO

  %div{style:'clear:both;'}

  // second row of 3
  %div{style: 'width: 110px;float:left;margin: 5px 5px 5px 0;' }
    .label
      Deal Type
    .border
      = @deal.deal_type
  %div{style: 'width: 110px;float:left;margin: 5px 5px 5px 0;' }
    .label
      Sales Rep
    .border
      = @deal.sales_rep
  %div{style: 'width: 110px;float:left;margin: 5px 5px 5px 0;' }
    .label
      Split Rep
    .border
      = @deal.split_rep

  %div{style:'clear:both;'}

  // third row of 3
  %div{style: 'width: 110px;float:left;margin: 5px 5px 5px 0;' }
    .label
      Desk Manager
    .border
      = @deal.desk_manager
  %div{style: 'width: 110px;float:left;margin: 5px 5px 5px 0;' }
    .label
      Finance Manager
    .border
      = @deal.finance_manager
  %div{style: 'width: 110px;float:left;margin: 5px 5px 5px 0;' }
    .label
      Selling Price
    .border
      = number_to_currency @deal.selling_price
  

  %div{style:'clear:both;'}

  // rounded box
  %div.border{style: 'border-radius: 10px;margin-right: 10px;'}
    %div{style: 'width: 32%;float:left;margin: 5px 5px 5px 0;' }
      .label
        Trade Allowance
      .border
        = number_to_currency @deal.trade_allowance
    %div{style: 'width: 32%;float:left;margin: 5px 5px 5px 0;' }
      .label
        Trade Payoff Amount
      .border
        = number_to_currency @deal.trade_payoff_amount

    %div{style: 'width: 32%;float:left;margin: 5px 5px 5px 0;' }
      .label
        Trade ACV
      .border
        = number_to_currency @deal.trade_acv

    %div{style:'clear:both;'}

    %div{style: 'width: 32%;float:left;margin: 5px 5px 5px 0;' }
      .label
        Trade Bank Name
      .border
        = @deal.trade_bank_name
    %div{style: 'width: 32%;float:left;margin: 5px 5px 5px 0;' }
      .label
        Send Payoff Address
      .border
        = simple_format @deal.send_payoff_address, {}, wrapper_tag: 'span'

    %div{style: 'width: 32%;float:left;margin: 5px 5px 5px 0;' }
      .label
        Good Through Date
      .border
        = @deal.good_through_date
      %br
      .label
        Trade Account Number
      .border
        = @deal.trade_account_number

    %div{style:'clear:both;'}

  %div{style:'clear:both;'}
  %div{style:'width: 49%;float:left;margin: 5px 5px 5px 0;'}
    .label
      Deal Notes
    .border
      = simple_format @deal.deal_notes, {}, wrapper_tag: 'span'
  %div{style:'width: 49%;float:left;margin: 5px 5px 5px 0;'}
    .label
      Disclosure
    .border
      = simple_format @deal.disclosure, {}, wrapper_tag: 'span'

  %div{style:'clear:both;'}

%div{style:'width: 30%; float:left;'}
  %div{style:'width: 100%;margin: 5px 0'}
    .label
      Bank Name
    .border
      = @deal.bank_name

  %div{style:'width: 60%;float:left;margin: 5px 5px 5px 0;'}
    .label
      Down Payment
    .border
      = @deal.down_payment

  %div{style:'width: 38%;float:left;margin: 5px 0px 5px 0;'}
    .label
      Term
    .border
      = @deal.term

  %div{style:'clear:both;'}
  %div{style:'width: 100%;margin: 5px 0'}
    .label
      Quoted Payment
    .border
      = @deal.quoted_payment
  
  %div{style:'clear:both;'}
  %div{style:'width: 100%;margin: 5px 0'}
    .label
      Rate APR
    .border
      = @deal.rate_apr

  %div{style:'clear:both;'}
  %div{style:'width: 100%;margin: 5px 0'}
    .label
      Miles Per Year (LSE)
    .border
      = @deal.miles_per_year


  %div{style:'clear:both;'}
  %div{style:'width: 100%;margin: 5px 0'}
    .label
      Rebates
    .border{style: 'min-height: 50px;'}
      = simple_format @deal.rebates, {}, wrapper_tag: 'span'


  %div{style:'clear:both;'}
  %div{style:'width: 100%;margin: 5px 0'}
    .label
      Bulletin Number
    .border{style: 'min-height: 50px;'}
      = simple_format @deal.bulletin_number, {}, wrapper_tag: 'span'
    

%div{style:'clear:both;'}


%div.border{style: 'border-radius: 10px;margin-top: 15px;'}
  %div{style:'width: 15px;float:left; margin-right: 10px;margin-top:35px;'}
    = params.key?('debug') ? image_tag('desk.png', style: 'width:100%;') : wicked_pdf_image_tag('desk.png', style: 'width:100%;')
 
  %div{style:'width: 22%;float:left;margin: 5px 5px 5px 0;'}
    %div{style: 'font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Privacy Notice
    
    %div{style: 'margin-top: 5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Copy DL

    %div{style: 'margin-top: 5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Credit App w/email

    %div{style: 'margin-top: 5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Insurance

    %div{style: 'margin-top: 5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Identity Theft

  %div{style:'width: 22%;float:left;margin: 5px 5px 5px 0;'}

    %div{style: 'font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Invoice

    %div{style: 'margin-top: 5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      In/Out Sheet

    %div{style: 'margin-top: 5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Credit Disclosure

    %div{style: 'margin-top: 5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Credit Report

    %div{style: 'margin-top: 5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Bulletin
    
  %div{style:'width: 22%;float:left;margin: 5px 5px 5px 0;'}

    %div{style: 'font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Supplier Form

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Rebate Form
  %div{style:'width: 25%;float:left;margin: 5px 5px 5px 0;'}
    = params.key?('debug') ? image_tag('trade.png', style: 'margin:auto; display:block; width: 40px;') : wicked_pdf_image_tag('trade.png', style: 'margin:auto; display:block; width: 40px;')

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Appraisal Package

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Registration

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Title

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      DMV Clear Title Check

  %div{style:'clear:both;'}

%div.border{style: 'border-radius: 10px;margin-top: 15px;'}
  %div{style:'width: 15px;float:left; margin-right: 10px;margin-top: 105px;'}
    = params.key?('debug') ? image_tag('finance.png', style: 'width:100%;') : wicked_pdf_image_tag('finance.png', style: 'width:100%;')

  %div{style:'width: 19%;float:left;margin: 5px 5px 5px 0;'}
    = params.key?('debug') ? image_tag('adds.png', style: 'margin:auto; display:block; width: 35px;') : wicked_pdf_image_tag('adds.png', style: 'margin:auto; display:block; width: 35px;')

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      GAPS

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Excess Wear & Tear

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Service Contract

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Select Protection

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Zurich Shield

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      VW Maintenance


    = params.key?('debug') ? image_tag('credit_stips.png', style: 'margin:10px auto; display:block; width: 75px;') : wicked_pdf_image_tag('credit_stips.png', style: 'margin:10px auto; display:block; width: 75px;')

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      POR

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      POI

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Reference

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Visa


  %div{style:'width: 18%;float:left;margin: 5px 5px 5px 0;'}
    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Emp. Ack

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      SS#

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Job Letter


    = params.key?('debug') ? image_tag('new.png', style: 'margin:10px auto; display:block; width: 35px;') : wicked_pdf_image_tag('new.png', style: 'margin:10px auto; display:block; width: 35px;')


    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Contract

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Pre Contract Disc

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      ROS New

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      262

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      VCI Insurance/Generic

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      VCI Credit App

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      %span{class: (@deal.disclosure.present? && !@deal.is_used && @deal.deal_type != "Lease")? "inverse": ''}
        Prior History
        

  %div{style:'width: 18%;float:left;margin: 5px 5px 5px 0;'}
    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Tire Chain Disc

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Notice to Co-Sign

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      CarNet

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Rebate Forms

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Due Bill

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Menu

    = params.key?('debug') ? image_tag('pre_owned.png', style: 'margin:10px auto; display:block; width: 75px;') : wicked_pdf_image_tag('pre_owned.png', style: 'margin:10px auto; display:block; width: 75px;')

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Copy of App or Reg

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Book Sheet

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Menu

  %div{style:'width: 18%;float:left;margin: 5px 5px 5px 0;'}
    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Contract Cancellation

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      %span{class: (@deal.disclosure.present? && @deal.is_used)? "inverse": ''}
        Prior History

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Buyers Guide

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      ROS Used

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      262

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      VCI Insurance/Generic

    = params.key?('debug') ? image_tag('trade.png', style: 'margin:10px auto; display:block; width: 40px;') : wicked_pdf_image_tag('trade.png', style: 'margin:10px auto; display:block; width: 40px;')

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      10 Pack

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Payoff Quote

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      262 Trade
  %div{style:'width: 18%;float:left;margin: 5px 5px 5px 0;'}
    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Prior History

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Trade Disclosure

    = params.key?('debug') ? image_tag('lease.png', style: 'margin:10px auto; display:block; width: 40px;') : wicked_pdf_image_tag('lease.png', style: 'margin:10px auto; display:block; width: 40px;')

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Lease Contract

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Lease Worksheet

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Lease Ins Form

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Car Net

    %div{style: 'margin-top:5px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      Rebate Forms

    %div{style: 'margin-top:5px;margin-bottom:10px;font-size: 10px;'}
      %span{style: 'border:1px solid #737373;margin-right: 5px;font-size: 15px;border-radius: 5px'}
        &nbsp;&nbsp;&nbsp;
      %span{class: (@deal.disclosure.present? && !@deal.is_used && @deal.deal_type == "Lease")? "inverse": ''}
        Prior History
    
    %div{style:'width: 57%;float:left;margin-right:5px;'}
      .label
        Menu Number
      .border
        = @deal.menu_number
    %div{style: 'width: 38%;float:left;'}
      .label
        F Status
      .border
        &nbsp;


    %div{style:'clear:both;'}

    %hr{style:'margin-top: 40px;margin-bottom:0px;'}
    %strong Printer's Initials

  %div{style:'clear:both;'}

%div{style:'clear:both;'}
#footer{style: 'position: absolute; bottom: 0px;left: 0; right: 0'}
  = params.key?('debug') ? image_tag('logo_black_small.png', style: 'margin:auto; display:block; width: 100px;') : wicked_pdf_image_tag('logo_black_small.png', style: 'margin:auto; display:block; width: 100px;')
