//small container
%div{style: 'width: 3in; height: 3in; border: 1px solid #e0e0e0;position:relative; padding: 10px 15px;'}

  %div{style: 'margin-bottom:50px;font-size: 20px;'}
    %strong
      = @vehicle.vin
    %br
    = "#{@vehicle.year} #{@vehicle.make}"
    %br
    = "#{@vehicle.color} - #{@vehicle.model}"

  %div{style:' width: 50%;float:left;'}
    = image_tag @png.to_data_url, style: "width: 100%;"
  %div{style:' width: 50%;float:left;font-size: 35px;text-align:center'}
    %strong
      = @vehicle.stock_number
    = wicked_pdf_image_tag('logo_black_small.png', style: 'width: 80%;display:block;margin:auto;padding-top:65px;')
  %div{style: 'clear:both'}


