//small container
%div{style: 'width:50%;border: 1px solid #e0e0e0;position:relative; padding: 10px 15px;'}
  = wicked_pdf_image_tag 'logo_black_small.png', style: 'position:absolute; width: 150px; top: 10px; right: 20px;'

  %h1{style:'font-size: 80px;margin-bottom:0;margin-top: 0;'}= @stock_number

  %div{style:'text-align: center;font-size: 40px;'}
    = "#{@vehicle.year} #{@vehicle.make} #{@vehicle.model}"

  %h4
    - @vin.each_char.each do |char|
      %div{style:'text-align:center; border:1px solid #e0e0e0;padding:2px 3px;margin:0 2px;float:left;'}
        = char

  %div
    = image_tag(html_barcode(@vin), style: 'width: 90%;margin:50px auto 0;')





//big container
%div{style: 'width:90%;border: 1px solid #e0e0e0;position:relative; padding: 10px 15px; margin-top:80px;'}
  = wicked_pdf_image_tag 'logo_black_small.png', style: 'position:absolute; width: 150px; top: 10px; right: 20px;'

  %h1{style:'font-size: 80px;margin-bottom:0;margin-top:20px;float:left;'}
    = @stock_number

  %div{style:'float: left;padding-top:20px;padding-left: 20px;font-size: 30px;'}
    = "#{@vehicle.year} #{@vehicle.make} #{@vehicle.model}"

    %h4
      - @vin.each_char.each do |char|
        %div{style:'text-align:center; border:1px solid #e0e0e0;padding:2px 3px;margin:0 2px;float:left;'}
          = char


  %div
    = image_tag(html_barcode(@vin), style: 'width: 90%;margin:20px auto 0;')
