.row.justify-content-center
  .col-md-6.py-3
    %h2.text-center New Tag
    .card.mt-3
      .card-body
        = form_for :tag, url: tags_path, method: :post do |f|
          .form-group
            %label Vehicle
            = f.select :vehicle_id, options_for_select(current_user.dealership.vehicles.map{|v| ["Vin: #{v.vin}", v.id]})

          .form-group
            %label Parking Space
            = f.select :shape_id, options_for_select(current_user.dealership.shapes.where(shape_type:'parking_space').map{|s| ["Parking Space: #{s.id}", s.id]})
        
          .form-group
            %label Event Type
            = select_tag 'event[event_type]', options_for_select(Event.event_types.keys)
          .form-group
            %label Event Details
            = text_area_tag 'event[event_details]', nil, placeholder: 'Missing passenger airbag', class: 'form-control'

          .form-group
            =f.submit 'Save', class: 'btn btn-block btn-success'