.row
  .col-6
    = "#{@vehicle.make} #{@vehicle.model} (#{@vehicle.stock_number})"
    %strong= @vehicle.vin
    %br
    %small
      - if current_user.permission_level == "admin" || current_user.permission_level == "sales_manager"
        = link_to vehicle_path(@vehicle), method: :delete, class: 'text-danger', data: {confirm: 'Are you sure?'} do
          %i.fa.fa-trash
          Delivered (Delete)
  .col-6
    - if @vehicle.open_service_tickets.any?
      = link_to service_tickets_path(search: {stock_number: @vehicle.stock_number}) do
        .text-danger.text-underline
          Open Service Tickets

    - if @vehicle.sales_hold?
      %strong
        Sales Hold

    - if @vehicle.service_hold?
      %strong
        Service Hold

    - if @vehicle.sold?
      %strong
        = @vehicle.sold_status