.container-fluid
  .row.mb-1
    .col-md-2
      %h3.text-center Check Requests

      .card.text-center.mt-1
        .card-header
          %small
            Requests: #{@check_requests.count}
     
    .col-md-10   
      = link_to 'New Check Request', new_check_request_path, class: 'btn btn-primary btn-sm mb-1'
      .table-responsive.small{style: 'max-height: 80vh;'}
        %table.table.table-striped.table-sm.mb-0.board-manager-table
          %thead
            %tr
              %th
                %i.fa.fa-pencil
              
              %th
                = link_to dealer_trades_path(sort: {date: params.dig(:sort, :date) == 'asc' ? "desc": "asc"}) do
                  Date
                  - if params.dig(:sort, :date) == "asc"
                    %i.fa.fa-sort-up
                  - else
                    %i.fa.fa-sort-down
              %th
                = link_to dealer_trades_path(sort: {date: params.dig(:sort, :user) == 'asc' ? "desc": "asc"}) do
                  User
                  - if params.dig(:sort, :user) == "asc"
                    %i.fa.fa-sort-up
                  - else
                    %i.fa.fa-sort-down
              %th
                = link_to dealer_trades_path(sort: {department: params.dig(:sort, :department) == 'asc' ? "desc": "asc"}) do
                  Department
                  - if params.dig(:sort, :department) == "asc"
                    %i.fa.fa-sort-up
                  - else
                    %i.fa.fa-sort-down
             
          %tbody
            - @check_requests.each do |dealer_trade|
              %tr
                %td
                  = link_to edit_dealer_trade_path(dealer_trade) do
                    %i.fa.fa-pencil.edit-icon
                %td= dealer_trade.trade_dealer_name
                %td= dealer_trade.dealer_code
                %td= dealer_trade.date_created
                %td= dealer_trade.year
                %td= dealer_trade.model
                %td.text-green= dealer_trade.trade_year
                %td.text-green= dealer_trade.trade_model
                %td= dealer_trade.trade_dealer_contact
                %td= dealer_trade.desk_manager
                %td= dealer_trade.trade_difference
                %td= dealer_trade.trade_payment_type
                %td
                  - if dealer_trade.your_trade
                    Your Trade
                  - elsif dealer_trade.our_trade
                    Our Trade
                  - elsif dealer_trade.your_purchase
                    Your Purchase
                  - elsif dealer_trade.our_purchase
                    Our Purchase

            
