.container-fluid
  .row.mb-1
    .col-md-2
      %h3.text-center Check Requests

      .card.text-center.mt-1
        .card-header
          %small
            Requests: #{@check_requests.count}
     
    .col-md-10   
      = link_to 'New Check Request', new_check_request_path, class: 'btn btn-primary btn-sm mb-1'

      - if @filters_applied
        = link_to 'Filters Applied - Reset Filters', check_requests_path, class: "btn btn-secondary btn-sm ml-5 mb-1"

      .table-responsive.small{style: 'max-height: 80vh;'}
        %table.table.table-striped.table-sm.mb-0.board-manager-table
          %thead
            %tr
              %th
                %i.fa.fa-pencil
              
              %th
                = link_to check_requests_path(sort: {request_date: params.dig(:sort, :request_date) == 'asc' ? "desc": "asc"}) do
                  Date
                  - if params.dig(:sort, :request_date) == "asc"
                    %i.fa.fa-sort-up
                  - else
                    %i.fa.fa-sort-down
              %th
                = link_to check_requests_path(sort: {request_by: params.dig(:sort, :request_by) == 'asc' ? "desc": "asc"}) do
                  User
                  - if params.dig(:sort, :request_by) == "asc"
                    %i.fa.fa-sort-up
                  - else
                    %i.fa.fa-sort-down
              %th
                = link_to check_requests_path(sort: {department: params.dig(:sort, :department) == 'asc' ? "desc": "asc"}) do
                  Department
                  - if params.dig(:sort, :department) == "asc"
                    %i.fa.fa-sort-up
                  - else
                    %i.fa.fa-sort-down
             
          %tbody
            - @check_requests.each do |check_request|
              %tr
                %td
                  = link_to edit_check_request_path(check_request) do
                    %i.fa.fa-pencil.edit-icon
                %td= check_request.request_date&.strftime("%m/%d/%Y")
                %td= check_request.request_by
                %td= check_request.department
                
            
