.container
  = form_tag check_requests_path, method: :get do
    .row
      .col-md-12
        %h3.mb-4 Search Check Request
    .row
      .col-md-2
      .col-md-10
        .form-group
          .row
            .col-6
              .input-group
                .input-group-prepend
                  %span.input-group-text{style:'padding: 0 5px;'}
                    %i.fa.fa-calendar
                = text_field_tag :start_date, nil, autocomplete: "off", placeholder: 'Start Date', class: 'form-control form-control-sm mr-1 datepicker', style: 'width: 100px;'
                .input-group-prepend
                  %span.input-group-text{style:'padding: 0 5px;'}
                    %i.fa.fa-calendar
                = text_field_tag :end_date, nil, autocomplete: "off", placeholder: 'End Date', class: 'form-control form-control-sm mr-1 datepicker', style: 'width: 100px;'
                
            
    .row
      .col-12
        .form-group
          .row.no-gutters
            .col-2.text-right.pr-2
              %label.form-label
                %strong Check
            .col-10
              = check_box_tag :is_check

              %label.form-label.ml-3
                %strong Cash
              %span
                = check_box_tag :is_cash

        .form-group
          .row.no-gutters
            .col-2.text-right.pr-2
              %label.pt-2
                %strong Department
            .col-4
              = select_tag :department, options_for_select(['', 'New Sales', 'Used Sales', 'Service', 'Parts', 'Collision', 'Accounting']), class: 'form-control'

        .form-group
          .row.no-gutters
            .col-2.text-right.pr-2
              %label.pt-2
                %strong Amount Requested
            .col-4
              = text_field_tag :amount_requested, nil, placeholder: '$xx,xxxx', class: 'form-control'

        .form-group
          .row.no-gutters
            .col-2.text-right.pr-2
              %label.pt-2
                %strong For Stock Number
            .col-3.pl-0.pr-2
              = text_field_tag :stock_number, nil, placeholder: 'Stock #', class: 'form-control'
            .col-3.px-2
              = text_field_tag :make, nil, placeholder: 'Make', class: 'form-control'
            .col-3.px-2
              = text_field_tag :model, nil, placeholder: 'Model', class: 'form-control'


        .form-group
          .row.no-gutters
            .col-2.text-right.pr-2
              %label.pt-2
                %strong Payable To
            .col-6
              = text_area_tag :payable_to, nil, placeholder: 'Payable To:', class: 'form-control', rows: 4

        .form-group
          .row.no-gutters
            .col-2.text-right.pr-2
              %label.pt-2
                %strong Description
            .col-6
              = text_area_tag :description, nil, placeholder: 'Description:', class: 'form-control', rows: 4

            .col-4.text-center
              = submit_tag 'Search', class: 'btn btn-primary btn-lg mt-5'


:javascript
  $(function() {
    $('.datepicker').datepicker({
      dateFormat: 'yy-mm-dd'
     });
  });