:css
  body{
    background-color: #343a40;
  }
  

/ Navigation
%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-1.p-0
  .container
    %a.navbar-brand{style: 'padding-top:20px;padding-bottom:10px;', href: 'http://www.lotwing.com', target: "_blank"}
      = image_tag "logo_light.png", style: 'width:150px;'
      %br
      %span{style: 'font-size: 12px;color:rgb(181, 177, 177);'}
        Vehicle inventory logistics
      
.container
  .row.justify-content-center
    .col-lg-4.mt-5.px-5.py-5{style: "background-color: #312d2d;"}
      = form_for resource, as: resource_name, url: session_path(resource_name) do |f|
        .form-group.mb-3
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-control'
        .form-group.mb-3
          = f.password_field :password, autocomplete: "current-password", placeholder: '********', class: 'form-control'
        .form-group.mb-1.text-center
          = f.submit "Log in", class: 'btn btn-success mt-3 px-5'
        
        .form-group
          %div.text-center
            = render "devise/shared/links"
    
