.card
  .card-body
    %h5
      = @user.full_name
      - if current_user.permission_level == "admin"
        .pull-right
          %small
            = link_to "edit", edit_dealership_user_path(current_user.dealership, @user), remote: true
    .small
      ="(#{@user.email})"

    %hr
      %h6 Permissions
      .card-body.bg-light
        %small
          = @user.permission_level
        - if current_user.permission_level == "admin"
          %hr
          %small
            %strong Note Email:
            = @user.email_preference.note_email?
            %br
            %strong Service Ticket Email:
            = @user.email_preference.service_ticket_email?
            %br
            %strong Duplicate Stock Number Email:
            = @user.email_preference.duplicate_stock_number_email?

  .card-footer
    - unless @user == current_user || @user.permission_level == "admin"
      - if @user.active?
        = link_to 'deactivate user', dealership_user_path(@dealership, @user), method: :delete, class: 'text-danger', data: {confirm: "are you sure you want to deactivate #{@user.full_name}"}
      - else
        = link_to 'reactivate user', dealership_user_path(@dealership, @user, user:{status: :active}), method: :put, class: 'text-success', data: {confirm: "are you sure you want to reactivate #{@user.full_name}"}

