.card
  .card-body
    %h5= @user.full_name
    .small
      ="(#{@user.email})"
    %hr
      %h6 Permissions
      .card-body.bg-light
        %small
          = @user.permission_level
  .card-footer
    - unless @user == current_user
      = link_to 'delete user', dealership_user_path(@dealership, @user), method: :delete, class: 'text-danger', data: {confirm: "are you sure you want to delete #{@user.full_name}"}
    