- include_presell = include_presell || false
- new_tab = new_tab || false

- if deal.stored?
  - css_class = 'text-warning'
- elsif deal.is_used?
  - css_class = 'text-green'
- else
  - css_class = "text-blue"

%tr{class: css_class.to_s}
  %td
    - unless current_user.permission_level == "service_user"
      = link_to edit_deal_path(deal), target: (new_tab ? "_blank": "").to_s do
        %i.fa.fa-pencil.edit-icon
  %td
    = deal.client_last_name
    - if deal.vehicle&.sales_hold? || deal.vehicle&.service_hold?
      %div
        %strong.text-danger
          HOLD ON MAP 
  
  %td= deal.stock_number
  
  %td= deal.source
  
  - if deal.is_used
    %td
    %td
      = deal.make
      = deal.model
      = deal.year
  - else
    %td
      = deal.make
      = deal.model
      = deal.year
    %td

  %td= deal.trade
  %td= deal.sales_rep&.full_name
  %td= deal.split_rep&.full_name
  %td= deal.city
  %td= deal.result
  - klass = (deal.report_status.in?(["Not RDR'd", "Not RDR'd Supp/Part", "Need to X"]) ? 'text-danger' : '')
  %td{class: klass}
    = deal.report_status

  - if include_presell
    %td{title: deal.f_i_pre_sell_product_list.presence || "N/A", data: {toggle: "tooltip",placement: "right"}}= deal.f_i_pre_sell? ? "Yes" : "No"
