= form_for @dealership, url: dealership_path(@dealership), method: :put do |f|
  .row
    .col-md-9
      .card
        .card-body
          - if current_user.permission_level == "admin"
            .form-group
              %label Dealership Name
              = f.text_field :name, class: 'form-control'
          .form-group
            .row
              .col-6
                %label MTD Start Date
                = f.text_field :custom_mtd_start_date, class: 'form-control datepicker'

      .card.mt-2
        .card-body
          .row
            .col-6
              %strong Note Email Notifications
              - @dealership_users.active.where(email_preferences: {note_email: true}).each do |user|
                %br
                = user.email
            .col-6
              %strong Duplicate Stock Number Email Notifications
              - @dealership_users.active.where(email_preferences: {duplicate_stock_number_email: true}).each do |user|
                %br
                = user.email

          .row.mt-3
            .col-6
              %strong Service Department Email Notifications
              - @dealership_users.active.where(email_preferences: {service_department_email: true}).each do |user|
                %br
                = user.email
            .col-6
              %strong Collision Department Email Notifications
              - @dealership_users.active.where(email_preferences: {collision_department_email: true}).each do |user|
                %br
                = user.email
          .row.mt-3
            .col-6
              %strong Parts Department Email Notifications
              - @dealership_users.active.where(email_preferences: {parts_department_email: true}).each do |user|
                %br
                = user.email
      .card.mt-2
        .card-header
          LotWing Feature Management
        .card-body
          .row
            = f.fields_for :dealership_configuration do |ff|
              .col-6
                .form-group
                  %label
                    = ff.check_box :use_full_board_manager
                    Full Board Manager
                  %br
                  .small.text-muted
                    %em
                      (If unchecked, Board Manager Lite will be enabled)
                .form-group
                  %label
                    = ff.check_box :use_sales_rep_averages
                    Use 90 Day Average Charts




    .col-md-3
      .card.bg-light
        - if current_user.permission_level == "admin"
          .card-body
            Data Sync
            %hr
            %label Provider Id
            = f.fields_for :data_sync do |ff|
              = ff.text_field :provider_id, class: 'form-control'
            %hr
            %small
              %em Last sync:
              = @dealership.data_sync.last_run_at&.in_time_zone("Pacific Time (US & Canada)")&.strftime("%b %e, %Y %l:%M %p") || "N/A"
      .mt-4
        = f.submit 'Update settings', class: 'btn btn-primary btn-block'