.row
  .col-md-6
    %h5 Deleted Vehicles

    .row
      .col-12
        .table-responsive
          %table.table.table-bordered.table-striped.table-sm
            %thead
              %tr
                %th
                  Stock #
                %th
                  Date/Time deleted
                %th
                  Team Member

            %tbody.small
              - @dealership.vehicles.only_deleted.each do |vehicle|
                %tr
                  %td
                    = vehicle.stock_number
                  %td
                    = vehicle.deleted_at.in_time_zone('US/Pacific').strftime("%m/%d/%Y %l:%M %p")
                  %td
                    Deletd by


  .col-md-6
    %h5 Deleted Deals
    .row
      .col-12
        .table-responsive
          %table.table.table-bordered.table-striped.table-sm
            %thead
              %tr
                %th
                  Stock #
                %th
                  Client Name
                %th
                  Date/Time deleted
                %th
                  Team Member

            %tbody.small
              - @dealership.deals.only_deleted.each do |deal|
                %tr
                  %td
                    = deal.stock_number
                  %td
                    = deal.client_last_name
                  %td
                    = deal.deleted_at.in_time_zone('US/Pacific').strftime("%m/%d/%Y %l:%M %p")
                  %td
                    = deal.versions.last.whodunnit


