%ul.nav.nav-tabs.mb-3

  %li
    = link_to edit_dealership_path(@dealership), class: "nav-link #{('active') if active_tab == 'edit'}" do
      Dealership Info

  - unless current_user.permission_level == "sales_rep"
    %li
      = link_to dealership_team_members_path(@dealership), class: "nav-link #{('active') if active_tab == 'team_members'}" do
        Team Members
  %li
    = link_to dealership_custom_fields_path(@dealership), class: "nav-link #{('active') if active_tab == 'custom_fields'}" do
      Custom Fields

  - if current_user.permission_level == "admin"
    %li
      = link_to dealership_payment_info_index_path(@dealership), class: "nav-link #{('active') if active_tab == 'payment_info'}" do
        Payment Info

  %li
    = link_to dealership_deleted_records_path(@dealership), class: "nav-link #{('active') if active_tab == 'deleted_data'}" do
      Deleted vehicles/deals