- unless current_user.permission_level == "sales_rep"
  .row
    .col-md-4
      %h4 
        Team members
        %small
          .small
            = link_to "Add new", new_dealership_user_path(@dealership), remote: true
      %ul.list-group
        - @dealership.users.each do |user|
          %li.list-group-item
            - if user.reset_password_token.present?
              %i.fa.fa-unlink
            = link_to "#{user.full_name} (#{user.permission_level.titleize})", dealership_user_path(current_user.dealership, user), remote: true
            %br
            - if user.accepted_service_license_agreement
              %small.text-muted
                Terms accepted #{user.accepted_service_license_agreement_datetime&.in_time_zone("Pacific Time (US & Canada)")&.strftime("%b %e, %Y")}
    .col-md-8
      #userShow  
      #newUserForm  