.bg-light
  .card-body.pt-1
    .text-center.mb-1
      %strong Suggested Trade Dealerships
    %ul.list-group
      - @suggested_trade_dealerships.each do |d|
        %li.list-group-item.py-1{id: dom_id(d)}
          .text-success{ style:'cursor:pointer;', data: { trade_dealer_name: d.name, trade_dealer_address: d.address, trade_dealer_contact: d.contact, trade_contact_phone:  d.phone } }
            %span.suggested-dealership
              = d.name
              %br
              = "#{d.contact} - #{d.phone}"
            .pull-right
              
              %small
                = link_to 'delete', suggested_trade_dealership_path(d), method: :delete, remote: true, class: 'text-danger'
                  



:javascript
  $(function(){
    $('.suggested-dealership').click(function(){
     var trade_dealer_name = $(this).data('trade-dealer-name');
     var trade_dealer_address = $(this).data('trade-dealer-address');
     var trade_dealer_contact = $(this).data('trade-dealer-contact');
     var trade_contact_phone = $(this).data('trade-contact-phone');


     $("#dealer_trade_trade_dealer_name").val(trade_dealer_name);
     $("#dealer_trade_trade_dealer_address").val(trade_dealer_address);
     $("#dealer_trade_trade_dealer_contact").val(trade_dealer_contact);
     $("#dealer_trade_trade_contact_phone").val(trade_contact_phone);


     $('#autoCompleteDealerTrades').html('');
    })
  })