%div{style: "font-family: sans-serif;"}

  %div{style:'margin-bottom: 0px;font-size: 40px;'}
    %div{style:'margin-bottom:10px;'}
      = @dealer_trade.date_created
    %div{style:'margin-bottom:10px;'}
      = @dealer_trade.desk_manager
    %div{style:'margin-bottom:10px;'}
      = @dealer_trade.trade_dealer_name

  %div
    %h1{style:'margin-top:45px;margin-bottom:0;font-size:185px;text-align:center;'}
      DEALER
      %br
      TRADE

  %div{style:'margin-bottom: 0px;font-size: 40px;'}
    %div{style:'margin-bottom:10px;'}
      = @dealer_trade.stock_number
    %div{style:'margin-bottom:10px;'}
      %span{style: 'margin-right: 145px;'}
        = @dealer_trade.model
      %span
        = @dealer_trade.color
        
= wicked_pdf_image_tag 'logo_black_small.png', style: 'position:absolute; width: 100px; top: 10px; right: 10px;'

%div{style:'position:absolute; bottom: 0px; width: 400px;right: 10px'}
  = raw html_barcode(@dealer_trade.vin).to_html