.container
  = form_for @dealer_trade, url: dealer_trade_path(@dealer_trade), method: :put do |f|
    .row
      .col-md-5
        .form-group
          = f.text_field :trade_dealer_name, placeholder: 'Trade Dealer Name', class: 'form-control'
        .form-group
          = f.text_area :trade_dealer_address, placeholder: 'Trade Dealer Address', class: 'form-control', rows: 3
        .form-group
          .row
            .col-md-6
              = f.text_field :trade_dealer_contact, placeholder: 'Trade Dealer Contact', class: 'form-control'
            .col-md-6
              = f.text_field :trade_contact_phone, placeholder: 'Trade Dealer Phone', class: 'form-control'
      .col-md-4
        .row.mt-5.pt-5
        .row.mt-4
          .col-md-6
            %label
              = f.check_box :your_trade
              Your Trade
            %br
            %label
              = f.check_box :your_purchase
              Your Purchase
          .col-md-6
            %label
              = f.check_box :our_trade
              Our Trade
            %br
            %label
              = f.check_box :our_purchase
              Our Purchase
      .col-md-3
        .row.pb-5
          .col-12.text-right
            = f.submit 'Print Trade Sheet', formtarget: "_blank", class: 'btn btn-sm btn-secondary'

        .row.mb-4.no-gutters
          .col-md-6
            = f.text_field :date_created, class: 'form-control'
          .col-md-6
            = f.text_field :time_created, value: Time.now.strftime("%I:%M %p"), class: 'form-control' 
        = f.select :desk_manager, options_for_select(current_user.dealership.users.sales_manager.pluck(:full_name), @dealer_trade.desk_manager), {include_blank: 'Desk Manager'}, class: 'form-control mb-1'
    .row
      .col-12.mb-4
        .card.border-dark
          .card-body.pt-1
            %h5.text-center Vehicle Delivered
            .row
              .col-md-5
                .row
                  .col-md-4
                    = f.text_field :stock_number, placeholder: 'Stock #', class: 'form-control'
                  .col-md-4
                    = f.text_field :color, placeholder: 'Color', class: 'form-control'
                  .col-md-4
                    = f.text_field :year, placeholder: 'Year', class: 'form-control'
                .row.my-4
                  .col-md-8
                    = f.text_field :vin, placeholder: 'VIN', class: 'form-control'
                .row
                  .col-12
                    %label Private Trade Notes
                    = f.text_area :private_trade_notes, placeholder: '(These will not show up on the print out)', rows: 2, class: 'form-control'

              .col-md-2
                = f.text_field :model, placeholder: 'Model', class: 'form-control'
              .col-md-5
                .row.no-gutters
                  .col-6.text-right
                    %div.pt-2.pr-1 
                      %strong Invoice
                  .col-6
                    = f.text_field :delivered_invoice, placeholder: 'Delivered Invoice', class: 'form-control'
                .row.no-gutters.my-3
                  .col-6.text-right
                    %div.pt-2.pr-1 
                      %strong + Accessories
                  .col-6
                    = f.text_field :plus_deliver_acc, placeholder: 'Plus Deliver Acc', class: 'form-control'
                .row.no-gutters.my-3
                  .col-6.text-right
                    %div.pt-2.pr-1 
                      %strong - Dealer Rebate
                  .col-6
                    = f.text_field :less_rebate_1, placeholder: 'Less Rebate 1', class: 'form-control'
                .row.no-gutters.my-3
                  .col-6.text-right
                    %div.pt-2.pr-1 
                      %strong Vehicle Delivered Total
                  .col-6
                    = f.text_field :delivered_total, placeholder: 'Delivered Total', class: 'form-control'
      .col-12
        .card.border-dark
          .card-body.pt-1
            %h5.text-center Vehicle Received
            .row
              .col-md-5
                .row
                  .col-md-4
                    = f.text_field :trade_stock_number, placeholder: 'Stock # Trade', class: 'form-control'

                  .col-md-4
                    = f.text_field :trade_color, placeholder: 'Trade Color', class: 'form-control'
                  .col-md-4
                    = f.text_field :trade_year, placeholder: 'Trade Year', class: 'form-control'
                .row.my-4
                  .col-md-8
                    = f.text_field :trade_vin, placeholder: 'Trade VIN', class: 'form-control'
                .row
                  .col-12
                    %label Public Trade Notes
                    = f.text_area :public_trade_notes, placeholder: '(Will be included on the print out)', rows: 2, class: 'form-control'

              .col-md-2
                = f.text_field :trade_model, placeholder: 'Trade Model', class: 'form-control'

              .col-md-5
                .row.no-gutters
                  .col-6.text-right
                    %div.pt-2.pr-1 
                      %strong Invoice
                  .col-6
                    = f.text_field :received_invoice, placeholder: 'Received Invoice', class: 'form-control'
                .row.no-gutters.my-3
                  .col-6.text-right
                    %div.pt-2.pr-1 
                      %strong + Accessories
                  .col-6
                    = f.text_field :received_acc, placeholder: 'Received Acc', class: 'form-control'
                .row.no-gutters.my-3
                  .col-6.text-right
                    %div.pt-2.pr-1 
                      %strong - Dealer Rebate
                  .col-6
                    = f.text_field :received_rebate, placeholder: 'Received Rebate', class: 'form-control'
                .row.no-gutters.my-3
                  .col-6.text-right
                    %div.pt-2.pr-1 
                      %strong Vehicle Delivered Total
                  .col-6
                    = f.text_field :received_sum, placeholder: 'Received (Sum)', class: 'form-control'
    .row.mt-2
      .col-4
        History 
        %strong X
        Trades
      .col-4
        .row.no-gutters
          .col-6.text-right
            %div.pt-2.pr-1 
              %strong Payment
          .col-6
            = f.text_field :trade_payment_type, placeholder: 'Trade Payment Type', class: 'form-control'
      .col-4
        .row.no-gutters
          .col-4.text-right
            %div.pt-2.pr-1 
              %strong Difference
          .col-8
            = f.text_field :trade_difference, placeholder: 'Trade Difference', class: 'form-control'

    .row.my-5
      .col-4
        %a{"data-target" => "#historyModal", "data-toggle" => "modal", :href => "#"} Show History
        

        / The Modal
        #historyModal.modal
          .modal-dialog.modal-lg
            .modal-content
              / Modal Header
              .modal-header
                %h4.modal-title Trade History
                %button.close{"data-dismiss" => "modal", :type => "button"} ×
              / Modal body
              .modal-body
                - @dealer_trade.versions.reverse_each do |version|
                  %small
                    %strong
                      = version.created_at.in_time_zone("Pacific Time (US & Canada)").strftime('%a, %d %b %Y %l:%M %p')
                    = "(#{version.whodunnit})"
                    %br
                    - version.changeset.each do |key, value|
                      - next if key == "updated_at"
                      changed
                      %strong= key
                      to 
                      = value[1] 
                  %hr
              .modal-footer
                %button.btn.btn-outline-secondary{"data-dismiss" => "modal", :type => "button"} Close
      .col-4
        - unless current_user.permission_level == 'sales_rep'
          = link_to 'Delete Trade', dealer_trade_path(@dealer_trade), method: :delete, data: {confirm: "Are you sure?"}, class: 'text-danger'
      .col-4
        = f.submit "Update Dealer Trade", class: 'btn btn-primary pull-right'