.container-fluid
  .row.mb-1
    .col-md-2
      %h3.text-center Dealer Trades

      .card.text-center.mt-1
        .card-header
          %small
            Total Trades MTD: #{@dealer_trades.where("DATE(date_created) >= ?", DateTime.now.in_time_zone("Pacific Time (US & Canada)").beginning_of_month).count}
      .card.text-center.mt-1
        .card-header
          %small
            Total Trades All Time: #{@dealer_trades.count}
        
    .col-md-10   
      = link_to 'New Trade', new_dealer_trade_path, class: 'btn btn-primary btn-sm mb-1'
      .table-responsive.small{style: 'max-height: 80vh;'}
        %table.table.table-striped.table-sm.mb-0.board-manager-table
          %thead
            %tr
              %th
                %i.fa.fa-pencil
              %th Dealer Name
              %th
                = link_to dealer_trades_path(sort: {dealer_code: params.dig(:sort, :dealer_code) == 'asc' ? "desc": "asc"}) do
                  Dealer Code
                  - if params.dig(:sort, :dealer_code) == "asc"
                    %i.fa.fa-sort-up
                  - else
                    %i.fa.fa-sort-down
              %th Date
              %th Delivered Yr
              %th Model
              %th Received Yr
              %th Model
              %th Contact
              %th Trade By
              %th Difference
              %th Stock Number
              %th Trade
              
          %tbody
            - @dealer_trades.each do |dealer_trade|
              %tr
                %td
                  = link_to edit_dealer_trade_path(dealer_trade) do
                    %i.fa.fa-pencil.edit-icon
                %td= dealer_trade.trade_dealer_name
                %td= dealer_trade.dealer_code
                %td= dealer_trade.date_created
                %td= dealer_trade.year
                %td= dealer_trade.model
                %td.text-green= dealer_trade.trade_year
                %td.text-green= dealer_trade.trade_model
                %td= dealer_trade.trade_dealer_contact
                %td= dealer_trade.desk_manager
                %td= dealer_trade.trade_difference
                %td= dealer_trade.stock_number
                %td
                  - if dealer_trade.your_trade
                    Your Trade
                  - elsif dealer_trade.our_trade
                    Our Trade
                  - elsif dealer_trade.your_purchase
                    Your Purchase
                  - elsif dealer_trade.our_purchase
                    Our Purchase

            
