.container-fluid
  .row.mb-1
    .col-md-2
      %h3.text-center Dealer Trades

      .card.text-center.mt-1
        .card-header
          %small
            = link_to dealer_trades_path(search: {mtd_total_trades: true}) do
              Total Trades MTD: #{current_user.dealership.dealer_trades.where("DATE(date_created) >= ?", DateTime.now.in_time_zone("Pacific Time (US & Canada)").beginning_of_month).count}
      .card.text-center.mt-1
        .card-header
          %small
            Total Trades All Time: #{@dealer_trades.count}

    .col-md-10
      .row
        .col-2
          = link_to 'New Trade', new_dealer_trade_path, class: 'btn btn-primary btn-sm mb-1'
        .col-10.form-inline.small{style: 'margin-bottom: 10px;'}
          = form_tag dealer_trades_path, method: :get, autocomplete: "off" do
            .input-group{style:'padding:5px 15px; border-radius: 5px; border:1px solid #ced4da;'}
              .input-group
                %label.mr-2{onclick: "$(this).parents('form').submit();"}
                  = hidden_field_tag "search[trade_options][your_trade]", 0
                  = check_box_tag 'search[trade_options][your_trade]', 1, params.dig(:search, :trade_options, :your_trade).to_i == 1 || params.dig(:search, :trade_options, :your_trade).nil?, class: 'mr-1'
                  Your Trade
              .input-group
                %label.mr-2{onclick: "$(this).parents('form').submit();"}
                  = hidden_field_tag "search[trade_options][your_purchase]", 0
                  = check_box_tag 'search[trade_options][your_purchase]', 1, params.dig(:search, :trade_options, :your_purchase).to_i == 1 || params.dig(:search, :trade_options, :your_purchase).nil?, class: 'mr-1'
                  Your Purchase
              .input-group
                %label.mr-2{onclick: "$(this).parents('form').submit();"}
                  = hidden_field_tag "search[trade_options][our_trade]", 0
                  = check_box_tag 'search[trade_options][our_trade]', 1, params.dig(:search, :trade_options, :our_trade).to_i == 1 || params.dig(:search,:trade_options, :our_trade).nil?, class: 'mr-1'
                  Our Trade
              .input-group
                %label.mr-2{onclick: "$(this).parents('form').submit();"}
                  = hidden_field_tag "search[trade_options][our_purchase]", 0
                  = check_box_tag 'search[trade_options][our_purchase]', 1, params.dig(:search, :trade_options, :our_purchase).to_i == 1 || params.dig(:search,:trade_options, :our_purchase).nil?, class: 'mr-1'
                  Our Purchase



              .input-group
                .input-group-prepend
                  %span.input-group-text{style:'padding: 0 5px;'}
                    %i.fa.fa-calendar
                = text_field_tag "search[start_date]", params.dig(:search, :start_date), autocomplete: "off", placeholder: 'Start Date', class: 'form-control form-control-sm mr-1 datepicker', style: 'width: 100px;'
              .input-group
                .input-group-prepend
                  %span.input-group-text{style:'padding: 0 5px;'}
                    %i.fa.fa-calendar
                = text_field_tag "search[end_date]", params.dig(:search, :end_date), autocomplete: "off", placeholder: 'End Date', class: 'form-control form-control-sm mr-1 datepicker', style: 'width: 100px;'
              .input-group
                .input-group-prepend
                  %span.input-group-text{style:'padding: 0 5px;'}
                    %i.fa.fa-list
                = text_field_tag "search[query]", params.dig(:search, :query), placeholder: 'Stock # / Model / Dealer', class: 'form-control form-control-sm'

              = submit_tag 'Search', class: 'ml-2 btn btn-sm btn-outline-secondary'

      .table-responsive.small{style: 'max-height: 80vh;'}
        %table.table.table-striped.table-sm.mb-0.board-manager-table
          %thead
            %tr
              %th
                %i.fa.fa-pencil
              %th Dealer Name
              %th
                = link_to dealer_trades_path(sort: {dealer_code: params.dig(:sort, :dealer_code) == 'asc' ? "desc": "asc"}, search: params[:search].as_json) do
                  Dealer Code
                  - if params.dig(:sort, :dealer_code) == "asc"
                    %i.fa.fa-sort-up
                  - else
                    %i.fa.fa-sort-down
              %th
                = link_to dealer_trades_path(sort: {date_created: params.dig(:sort, :date_created) == 'asc' ? "desc": "asc"}, search: params[:search].as_json) do
                  Date
                  - if params.dig(:sort, :date_created) == "asc"
                    %i.fa.fa-sort-up
                  - else
                    %i.fa.fa-sort-down
              %th Delivered Yr
              %th
                = link_to dealer_trades_path(sort: {model: params.dig(:sort, :model) == 'asc' ? "desc": "asc"}, search: params[:search].as_json) do
                  Model
                  - if params.dig(:sort, :model) == "asc"
                    %i.fa.fa-sort-up
                  - else
                    %i.fa.fa-sort-down
              %th Received Yr
              %th
                = link_to dealer_trades_path(sort: {trade_model: params.dig(:sort, :trade_model) == 'asc' ? "desc": "asc"}, search: params[:search].as_json) do
                  Model
                  - if params.dig(:sort, :trade_model) == "asc"
                    %i.fa.fa-sort-up
                  - else
                    %i.fa.fa-sort-down
              %th Contact
              %th Trade By
              %th Difference
              %th Stock Number
              %th Trade

          %tbody
            - @dealer_trades.each do |dealer_trade|
              %tr
                %td
                  = link_to edit_dealer_trade_path(dealer_trade) do
                    %i.fa.fa-pencil.edit-icon
                %td= dealer_trade.trade_dealer_name
                %td= dealer_trade.dealer_code
                %td= dealer_trade.date_created
                %td= dealer_trade.year
                %td= dealer_trade.model
                %td.text-green= dealer_trade.trade_year
                %td.text-green= dealer_trade.trade_model
                %td= dealer_trade.trade_dealer_contact
                %td= dealer_trade.desk_manager
                %td= dealer_trade.trade_difference
                %td
                  - if dealer_trade&.vehicle&.parking_space&.geo_info
                    = link_to vehicle_show_map_path(dealer_trade&.vehicle), remote: true do
                      %i.fa.fa-map-marker
                      = dealer_trade.stock_number
                  - else
                    = dealer_trade.stock_number

                %td
                  - if dealer_trade.your_trade
                    Your Trade
                  - elsif dealer_trade.our_trade
                    Our Trade
                  - elsif dealer_trade.your_purchase
                    Your Purchase
                  - elsif dealer_trade.our_purchase
                    Our Purchase

= render partial: 'shared/map_popover'

:javascript
  $(function() {
    $('.datepicker').datepicker({
      dateFormat: 'yy-mm-dd'
     });
  });