= javascript_include_tag('dealer-trade-math.js')
.container
  = form_for :dealer_trade, url: dealer_trades_path, method: :post do |f|
    .row
      .col-md-5
        .form-group
          %div{style: 'position:relative'}
            %i.fa.fa-spin.fa-refresh.text-muted.d-none.loading-spin-trade-dealer{style:'position:absolute;right:10px;top:11px;'}
            = f.text_field :trade_dealer_name, placeholder: 'Trade Dealer Name', class: 'form-control'
        .form-group
          = f.text_area :trade_dealer_address, placeholder: 'Trade Dealer Address', class: 'form-control', rows: 3
        .form-group
          .row
            .col-md-6
              = f.text_field :trade_dealer_contact, placeholder: 'Trade Dealer Contact', class: 'form-control'
            .col-md-6
              = f.text_field :trade_contact_phone, placeholder: 'Trade Dealer Phone', class: 'form-control'
      .col-md-4
        .row
          .col-md-12
            #autoCompleteDealerTrades
        .row.mt-4
          .col-md-6
            %label
              = f.check_box :your_trade
              Your Trade
            %br
            %label
              = f.check_box :your_purchase
              Your Purchase
          .col-md-6
            %label
              = f.check_box :our_trade
              Our Trade
            %br
            %label
              = f.check_box :our_purchase
              Our Purchase
      .col-md-3
        .row.mb-3.no-gutters
          .col-md-6
            = f.text_field :date_created, value: DateTime.current.in_time_zone("Pacific Time (US & Canada)").to_date, class: 'form-control'
          .col-md-6
            = f.text_field :time_created, value: Time.now.strftime("%I:%M %p"), class: 'form-control' 
        = f.select :desk_manager, options_for_select(current_user.dealership.users.sales_manager.pluck(:full_name)), {include_blank: 'Desk Manager'}, class: 'form-control mb-1'
    .row
      .col-12.mb-4
        .card.border-dark
          .card-body.pt-1
            %h5.text-center Vehicle Delivered
            .row
              .col-md-5
                .row
                  .col-md-4
                    %div{style: 'position:relative'}
                      %i.fa.fa-spin.fa-refresh.text-muted.d-none.loading-spin{style:'position:absolute;right:10px;top:11px;'}
                    = f.text_field :stock_number, placeholder: 'Stock #', class: 'form-control'
                  .col-md-4
                    = f.text_field :color, placeholder: 'Color', class: 'form-control'
                  .col-md-4
                    = f.text_field :year, placeholder: 'Year', class: 'form-control'
                .row.my-4
                  .col-md-8
                    = f.text_field :vin, placeholder: 'VIN', class: 'form-control'
                .row
                  .col-12
                    %label Private Trade Notes
                    = f.text_area :private_trade_notes, placeholder: '(These will not show up on the print out)', rows: 2, class: 'form-control'

              .col-md-2
                = f.text_field :model, placeholder: 'Model', class: 'form-control'
                
              .col-md-5.delivered-invoice-inputs
                .row.no-gutters
                  .col-6.text-right
                    %div.pt-2.pr-1 
                      %strong Invoice
                  .col-6
                    = f.text_field :delivered_invoice, placeholder: 'Delivered Invoice', class: 'form-control dynamic'
                .row.no-gutters.my-3
                  .col-6.text-right
                    %div.pt-2.pr-1 
                      %strong + Accessories
                  .col-6
                    = f.text_field :plus_deliver_acc, placeholder: 'Plus Deliver Acc', class: 'form-control dynamic'
                .row.no-gutters.my-3
                  .col-6.text-right
                    %div.pt-2.pr-1 
                      %strong - Dealer Rebate
                  .col-6
                    = f.text_field :less_rebate_1, placeholder: 'Less Rebate 1', class: 'form-control dynamic'
                .row.no-gutters.my-3
                  .col-6.text-right
                    %div.pt-2.pr-1 
                      %strong Vehicle Delivered Total
                  .col-6
                    = f.text_field :delivered_total, placeholder: 'Delivered Total', class: 'form-control'
      .col-12
        .card.border-dark
          .card-body.pt-1
            %h5.text-center Vehicle Received
            .row
              .col-md-5
                .row
                  .col-md-4
                    = f.text_field :trade_stock_number, placeholder: 'Stock # Trade', class: 'form-control'
                  .col-md-4
                    = f.text_field :trade_color, placeholder: 'Trade Color', class: 'form-control'
                  .col-md-4
                    = f.text_field :trade_year, placeholder: 'Trade Year', class: 'form-control'
                .row.my-4
                  .col-md-8
                    = f.text_field :trade_vin, placeholder: 'Trade VIN', class: 'form-control'
                .row
                  .col-12
                    %label Public Trade Notes
                    = f.text_area :public_trade_notes, placeholder: '(Will be included on the print out)', rows: 2, class: 'form-control'

              .col-md-2
                = f.text_field :trade_model, placeholder: 'Trade Model', class: 'form-control'
              .col-md-5.received-invoice-inputs
                .row.no-gutters
                  .col-6.text-right
                    %div.pt-2.pr-1 
                      %strong Invoice
                  .col-6
                    = f.text_field :received_invoice, placeholder: 'Received Invoice', class: 'form-control dynamic'
                .row.no-gutters.my-3
                  .col-6.text-right
                    %div.pt-2.pr-1 
                      %strong + Accessories
                  .col-6
                    = f.text_field :received_acc, placeholder: 'Received Acc', class: 'form-control dynamic'
                .row.no-gutters.my-3
                  .col-6.text-right
                    %div.pt-2.pr-1 
                      %strong - Dealer Rebate
                  .col-6
                    = f.text_field :received_rebate, placeholder: 'Received Rebate', class: 'form-control dynamic'
                .row.no-gutters.my-3
                  .col-6.text-right
                    %div.pt-2.pr-1 
                      %strong Vehicle Delivered Total
                  .col-6
                    = f.text_field :received_sum, placeholder: 'Received (Sum)', class: 'form-control'
    .row.mt-2
      .col-4
        History 
        %strong X
        Trades
      .col-4
        .row.no-gutters
          .col-6.text-right
            %div.pt-2.pr-1 
              %strong Payment
          .col-6
            = f.text_field :trade_payment_type, placeholder: 'Trade Payment Type', class: 'form-control'
      .col-4
        .row.no-gutters
          .col-4.text-right
            %div.pt-2.pr-1 
              %strong Difference
          .col-8
            = f.text_field :trade_difference, placeholder: 'Trade Difference', class: 'form-control'

    .row.my-5
      .col-12
        = f.submit "Create Dealer Trade", class: 'btn btn-primary pull-right'



:javascript
  $(function(){
    //setup before functions
    var typingTimer;                //timer identifier
    var doneTypingInterval = 500;  //time in ms
    var $stock_number_input = $('#dealer_trade_stock_number');
    var $trade_dealer_name_input = $('#dealer_trade_trade_dealer_name');

    //on keyup, start the countdown
    $stock_number_input.on('input', function () {
      clearTimeout(typingTimer);
      typingTimer = setTimeout(doneTypingStockNumber, doneTypingInterval);
    });

    //on keyup, start the countdown
    $trade_dealer_name_input.on('input', function () {
      clearTimeout(typingTimer);
      typingTimer = setTimeout(doneTypingTradeDealer, doneTypingInterval);
    });

    //user is "finished typing," populate the hidden form, and submit that one
    function doneTypingStockNumber () {
      if ($stock_number_input.val()){
        $('.loading-spin').removeClass('d-none');
        
        $.ajax({
          url:"/dealer_trades/stock_number_search",
          method: 'PUT',
          data: { stock_number: $stock_number_input.val() }
        });
      }
    }

    //user is "finished typing," populate the hidden form, and submit that one
    function doneTypingTradeDealer () {
      if ($trade_dealer_name_input.val()){
        $('.loading-spin-trade-dealer').removeClass('d-none');
        
        $.ajax({
          url:"/dealer_trades/previous_trade_search",
          method: 'PUT',
          data: { previous_trade_search: $trade_dealer_name_input.val() }
        });
      }
    }
  })