:css
  body, html{
    height: 100%;
    position: relative;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
#header
  = wicked_pdf_image_tag 'dealer_logo.png', style: 'width: 200px;'

%h4{style:'margin-top:20px;margin-bottom: 35px;'} 
  %strong DEALER TRADE SHEET

%div
  %div{style:'width:45%;float:left;'}
    = @dealer_trade.trade_dealer_name
    = simple_format(@dealer_trade.trade_dealer_address, wrapper_tag:"span")
    %strong{style:'margin-top:5px;'}
      = @dealer_trade.trade_dealer_contact
      = @dealer_trade.trade_contact_phone
  %div{style:'width:25%;float:left;'}
    %div{style: 'margin-bottom: 5px;font-size:12px;'}
      %span{style: 'border:1px solid #e0e0e0;margin-right: 5px;'}
        - if @dealer_trade.your_trade
          &#10006;
        - else
          &nbsp;&nbsp;&nbsp;
      Your Trade
    %div{style: 'margin-bottom: 5px;font-size:12px;'}
      %span{style: 'border:1px solid #e0e0e0;margin-right: 5px;'}
        - if @dealer_trade.our_trade
          &#10006;
        - else
          &nbsp;&nbsp;&nbsp;
      Our Trade
    %div{style: 'margin-bottom: 5px;font-size:12px;'}
      %span{style: 'border:1px solid #e0e0e0;margin-right: 5px;'}
        - if @dealer_trade.your_purchase
          &#10006;
        - else
          &nbsp;&nbsp;&nbsp;
      Your Purchase
    %div{style: 'margin-bottom: 5px;font-size:12px;'}
      %span{style: 'border:1px solid #e0e0e0;margin-right: 5px;'}
        - if @dealer_trade.our_purchase
          &#10006;
        - else
          &nbsp;&nbsp;&nbsp;
      Our Purchase
  %div{style:'width:30%;float:left;font-size:12px;'}
    %div{style: 'text-align:right;'}
      %b= @dealer_trade.date_created
    %div{style: 'margin-top:45px;text-align:right'}
      %b This Trade By
      %div= @dealer_trade.desk_manager

%div{style:'clear:both'}

%div{style: 'border: 1px solid #000;margin-top: 20px;padding:0 10px 10px;'}
  %h3{style:'text-align:center;margin-bottom:5px;margin-top: 0;padding:0;'} 
    %strong VEHICLE DELIVERED
  
  %div{style:'width:32%;float:left;'}
    %div{style:'border:1px solid #000; padding: 5px 10px;'}
      = @dealer_trade.model
      = @dealer_trade.color
      = @dealer_trade.year
    %br
    = @dealer_trade.vin

  %div.text-center{style:'width:22%;float:left;text-align:center;'}
    %span{style:'font-weight: bold;'}
      = @dealer_trade.stock_number
    %div{style: 'font-size: 10px;'}
      STOCK #
    

  %div{style:'width:46%;float:left;text-align:right'}
    %div{style:'width:80%;float:left'}
      %strong{style:'padding-right: 10px;'} INVOICE
    %div{style:'width:20%;float:left;font-size: 12px;'}
      = @dealer_trade.delivered_invoice
    
    %div{style:'clear:both'}

    %div{style:'width:80%;float:left'}
      %strong{style:'padding-right: 10px;'} + ACCESSORIES
    %div{style:'width:20%;float:left;font-size: 12px;'}
      = @dealer_trade.plus_deliver_acc
    %div{style:'clear:both'}

    %div{style:'width:80%;float:left'}
      %strong{style:'padding-right: 10px;'} - DEALER REBATE
    %div{style:'width:20%;float:left;font-size: 12px;'}
      = @dealer_trade.less_rebate_1
    %div{style:'clear:both'}
    %div{style:'width:80%;float:left'}
      %strong{style:'padding-right: 10px;'} VEHICLE DELIVERED TOTAL
    %div{style:'width:20%;float:left;font-size: 12px;'}
      = @dealer_trade.delivered_total
    %div{style:'clear:both'}

  %div{style:'clear:both'}

%div{style: 'border: 1px solid #000;margin-top: 20px;padding:0 10px 10px;'}
  %h3{style:'text-align:center;margin-bottom:5px;margin-top: 0;padding:0;'}
    %strong VEHICLE RECEIVED

  %div{style:'width:32%;float:left;'}
    %div{style:'border:1px solid #000; padding: 5px 10px;'}
      = @dealer_trade.trade_model
      = @dealer_trade.trade_color
      = @dealer_trade.trade_year
    %br
    = @dealer_trade.trade_vin

  %div.text-center{style:'width:22%;float:left;text-align:center;'}
    %span{style:'font-weight: bold;'}
      = @dealer_trade.trade_stock_number
    %div{style: 'font-size: 10px;'}
      STOCK #
    
  %div{style:'width:46%;float:left;text-align:right'}
    %div{style:'width:80%;float:left'}
      %strong{style:'padding-right: 10px;'} INVOICE
    %div{style:'width:20%;float:left;font-size: 12px;'}
      = @dealer_trade.received_invoice
    
    %div{style:'clear:both'}

    %div{style:'width:80%;float:left'}
      %strong{style:'padding-right: 10px;'} + ACCESSORIES
    %div{style:'width:20%;float:left;font-size: 12px;'}
      = @dealer_trade.received_acc
    %div{style:'clear:both'}

    %div{style:'width:80%;float:left'}
      %strong{style:'padding-right: 10px;'} - DEALER REBATE
    %div{style:'width:20%;float:left;font-size: 12px;'}
      = @dealer_trade.received_rebate
    %div{style:'clear:both'}
    %div{style:'width:80%;float:left'}
      %strong{style:'padding-right: 10px;'} VEHICLE DELIVERED TOTAL
    %div{style:'width:20%;float:left;font-size: 12px;'}
      = @dealer_trade.received_sum
    %div{style:'clear:both'}

  %div{style:'clear:both'}

%div{style:'clear:both;margin-top:15px;'}
  %div{style: 'width:33%;float:left'}
    &nbsp;
  %div{style: 'width:33%;float:left;text-align:center;'}
    = "PAYMENT #{@dealer_trade.trade_payment_type.upcase}"
  %div{style: 'width:33%;float:left;'}
    %div{style:'width:70%;float:left;text-align:right;'}
      %strong{style:'padding-right: 9px;'} DIFFERENCE
    %div{style:'width:30%;float:left;text-align:right;'}
      %span{style:'padding-right: 5px;font-size: 12px;'}
        = @dealer_trade.trade_difference
  %div{style:'clear:both'}

%div{style:'font-size:10px;'}
  %strong
    TRADE NOTES:
%div{style:'min-height:50px;'}
  = @dealer_trade.public_trade_notes

%hr

%div{style:'clear:both;margin-top:15px;'}
  %div{style: 'width:30%;float:left'}
    %strong DELIVERED VEHICLE
    %br
    %strong KEYS
    %br
    %strong BOOKS
  %div{style: 'width:70%;float:left'}
    = wicked_pdf_image_tag 'car_icon.png', style: 'width: 70%;float:right;'

%hr

%div{style:'clear:both;margin-top:15px;'}
  %div{style: 'width:30%;float:left'}
    %strong DELIVERED VEHICLE
    %br
    %strong KEYS
    %br
    %strong BOOKS
  %div{style: 'width:70%;float:left'}
    = wicked_pdf_image_tag 'car_icon.png', style: 'width: 70%;float:right;'

%div{style:'clear:both;'}
#footer{style: 'position: absolute; bottom: -0px;left: 0; right: 0'}
  = wicked_pdf_image_tag 'logo_black_small.png', style: 'margin:auto; display:block; width: 100px;'
