.row.no-gutters
  - @vehicles.each do |model, vehicles|
    .col-4.mt-3.small
      = link_to vehicles_path(filter: {model: model}) do

        %strong #{model} (#{vehicles.count})

      %div{class: ('collapse' if params.dig(:filter,:model) != model) }
        - vehicles.group_by(&:year).each do |year, vehicles|
          %h4.mb0= "#{year.presence || 'Unknown'} (#{vehicles.count})"
          - vehicles.group_by(&:trim_level).each do |trim_level, vehicles|
            .mt-2
              %strong.text-default #{trim_level.presence || 'Unknown'} (#{vehicles.count})
              %div
                - vehicles.each do |vehicle|
                  = link_to vehicle_show_info_modal_path(vehicle), remote: true, onclick:"$('#vehicle_data_container').html('Loading...');" do
                    %span.text-blue= vehicle.stock_number
                  = vehicle.color
                  = number_to_currency vehicle.sale_price
                  %br