- @all_vehicles.where(usage_type: "is_new").group_by(&:model).sort_by{ |key| key }.to_h.each do |model, vehicles|
  .col-4.mt-3.small
    = link_to vehicles_path(filter: {model: model}) do
      %strong #{model} (#{vehicles.count})

    - if params.dig(:filter, :model) == model
      - vehicles.group_by(&:trim_level).each do |trim_level, vehicles|
        .mt-2
          %strong.text-default #{trim_level} (#{vehicles.count})
          %div
            - vehicles.each do |vehicle|
              = link_to vehicle_show_info_modal_path(vehicle), remote: true, onclick:"$('#vehicle_data_container').html('Loading...');" do
                %span.text-blue= vehicle.stock_number
              = vehicle.color
              = number_to_currency vehicle.sale_price
              %br