.card.mb-1{style: 'border: 2px solid #212529;'}
  .card-body.pb-0
    - if flash[:success].present?
      .row{id: 'updateFlash'}
        .col-12
          .alert.alert-success.p1y
            = flash[:success]
    .row
      .col-12
        %h4
          %strong
            VHS: Vehicle History Screen
    .row
      .col-6
        = "#{@vehicle.make} #{@vehicle.model} (#{@vehicle.stock_number}) History"
        %br
        %strong= @vehicle.vin

        .small
          %strong
            Age
            - if @vehicle.data_feed_created?
              - count = @vehicle.age_in_days
            - else
              - count = (DateTime.current.to_date - @vehicle.created_at.to_date).to_i

            = "#{count} days"
        - if @events.charge_vehicle.any?
          .small
            %strong Total Charge Time:
            - t = @events.charge_vehicle.map{|e| (e.ended_at.presence || Time.now) - e.started_at}.sum.to_f

            = Time.at(t).utc.strftime("%H:%M:%S")

            - if @vehicle.is_currently_charging?
              %span.text-success
                Currently Charging
      .col-3
        - if @vehicle.open_service_tickets.any?
          = link_to service_tickets_path(search: {stock_number: @vehicle.stock_number}) do
            .text-danger.text-underline
              Open Service Tickets

        - if @vehicle.sales_hold?
          %strong
            Sales Hold

        - if @vehicle.service_hold?
          %strong
            Service Hold

        - if @vehicle.sold?
          %strong
            = @vehicle.sold_status
      .col-3.text-right
        - if @context == "lot_view"
          .close
            x
        %a.small{"data-target" => "#createServiceTicketModal_#{dom_id(@vehicle)}", "data-toggle" => "modal", :type => "link", href: ''}
          Create service ticket
        %br
        - if current_user.dealership.dealership_configuration.show_detail_job_link_in_ui?
          - if current_user.permission_level.in?("sales_rep")
            - if current_user.dealership.dealership_configuration.allow_sales_reps_to_create_detail_jobs?
              .small
                - if @vehicle.detail_job.present?
                  = link_to detail_jobs_path do
                    View detail job
                - else
                  = link_to detail_jobs_path(redirect_url: vehicles_path, complete_by_date: DateTime.current.in_time_zone("US/Pacific").strftime("%Y-%m-%d"), complete_by_time: detail_job_complete_by_time(current_user.dealership), detail_job: {stock_number: @vehicle.stock_number, make: @vehicle.make, model: @vehicle.model, year: @vehicle.year, color: @vehicle&.color, sales_rep_id: current_user.id, vin: @vehicle&.vin }), data: {confirm: 'Are you sure you want to create a detail job?'}, method: :post do
                    Create detail job
          - else
            .small
              - if @vehicle.detail_job.present?
                = link_to detail_jobs_path do
                  View detail job
              - else
                = link_to detail_jobs_path(redirect_url: vehicles_path, complete_by_date: DateTime.current.in_time_zone("US/Pacific").strftime("%Y-%m-%d"), complete_by_time: detail_job_complete_by_time(current_user.dealership), detail_job: {stock_number: @vehicle.stock_number, make: @vehicle.make, model: @vehicle.model, year: @vehicle.year, color: @vehicle&.color, sales_rep_id: current_user.id, vin: @vehicle&.vin }), data: {confirm: 'Are you sure you want to create a detail job?'}, method: :post do
                  Create detail job

        = link_to "Hold options", "#", class: 'small', "aria-expanded" => "false", "data-target" => "#holdsContainer_#{dom_id(@vehicle)}", "data-toggle" => "collapse"

        - if @vehicle.vin.present? && @vehicle.stock_number.present? && current_user.special_permissions.include?('generate_bar_codes')
          %br
          = link_to "Generate QR Code", barcodes_path(format: :pdf, vin: @vehicle.vin, stock_number: @vehicle.stock_number), method: :post, class: 'small'

    %hr.m00
    = form_for @vehicle, url: vehicle_path(@vehicle), remote: true, method: :put do |f|
      - if current_user.permission_level.in? ["admin", "sales_manager"]
        .row
          .col-9.small
            = link_to "Update stock number & VIN", "#", class: 'small', "aria-expanded" => "false", "data-target" => "#stockNumberContainer_#{dom_id(@vehicle)}", "data-toggle" => "collapse"
            .collapse{id: "stockNumberContainer_#{dom_id(@vehicle)}"}
              .row
                .col-4
                  %label Stock Number
                  = f.text_field :stock_number, class: 'form-control form-control-sm'
                .col-8
                  %label VIN
                  = f.text_field :vin, class: 'form-control form-control-sm'

      .row.mb-3
        .col-2
          %label.small.mb-0 Year
          = f.text_field :year, placeholder: 'Year', class: 'form-control form-control-sm'
        .col-2
          %label.small.mb-0 Make
          = f.text_field :make, placeholder: "Make", class: 'form-control form-control-sm'
        .col-4
          %label.small.mb-0 Model
          = f.text_field :model, placeholder: "Model",  class: 'form-control form-control-sm'
        .col-2
          %label.small.mb-0 Color
          = f.text_field :color, placeholder: "Color", class: 'form-control form-control-sm'
        .col-2
          = f.submit "Update", class: 'btn btn-sm btn-primary btn-block mt-4'
      .row
        .col-12
          .collapse{id: "holdsContainer_#{dom_id(@vehicle)}"}
            %hr.mb-0
            .py-1
              .row
                .col-6
                  %label.small.mb-0
                    Place this vehicle on a Sales Hold
                    = f.check_box :sales_hold, class: 'ml-1'
                  = f.text_area :sales_hold_notes, placeholder: 'Sales Hold Notes', rows: 2, class: 'form-control form-control-sm'
                .col-2
                  .mt-4.text-center
                    %span.p-1.text-white{style:'background-color: #000;'}
                      H
                .col-4.text-right
                  = link_to "Print Hold Tag", vehicle_print_hold_tag_path(@vehicle, format: :pdf), target: "_blank", class: 'btn btn-sm btn-outline-primary mt-4'
            .bg-light.py-2
              .row
                .col-6
                  %label.small.mb-0
                    Place this vehicle on a Service Hold
                    = f.check_box :service_hold, class: 'ml-1'
                  = f.text_area :service_hold_notes, placeholder: 'Service Hold Notes', rows: 2, class: 'form-control form-control-sm'
                .col-2
                  %img.mx-auto.d-block.mt-4{src: "/triangle-24.png"}
                .col-4.text-right
                  = link_to "Print Service Hold Tag", vehicle_print_service_hold_tag_path(@vehicle, format: :pdf), target: "_blank", class: 'btn btn-sm btn-outline-primary mt-4'

    = render partial: 'vehicles/partials/show_recent_events'

    %hr.mt-0

    %ul.nav.nav-tabs.mt-0{:role => "tablist"}
      - has_completed_tickets = false

      - if @vehicle.service_tickets.complete.any?
        - has_completed_tickets = true
        %li.nav-item
          %a.nav-link{"data-toggle" => "tab", :href => "#service_tickets_#{dom_id(@vehicle)}", :role => "tab", class: 'active'}
            Srv Tickets (#{@vehicle.service_tickets.complete.count})

      - grouped_events = @events.group_by(&:event_type)
      - grouped_events.keys.each_with_index do |key, i|
        %li.nav-item
          %a.nav-link{"data-toggle" => "tab", :href => "##{key}_#{dom_id(@vehicle)}", :role => "tab", class: ('active' if i == 0 && !has_completed_tickets) }
            = "#{key.titleize} (#{grouped_events[key].count})"

    .tab-content.mt-3
      - if has_completed_tickets
        .tab-pane{:role => "tabpanel", id: "service_tickets_#{dom_id(@vehicle)}", class: 'active in' }
          %table.table.table-bordered.table-striped.table-sm.mb-0
            %table.table.table-bordered.table-striped.table-sm.mb-0
              %tbody
                - @vehicle.service_tickets.complete.each do |ticket|
                  %tr
                    %td
                      Service Ticket
                    %td
                      = "Final close at #{ticket.completed_at.in_time_zone('Pacific Time (US & Canada)').strftime('%m/%d/%Y %l:%M %p')}"
                      %br
                      = "Time in shop #{distance_of_time_in_words(ticket.completed_at.in_time_zone('Pacific Time (US & Canada)'), ticket.created_at.in_time_zone('Pacific Time (US & Canada)') )}"

      - i = 0
      - grouped_events.each do |k, events|
        - #iterator used for "active in" class
        - i += 1

        .tab-pane{:role => "tabpanel", id: "#{k}_#{dom_id(@vehicle)}", class: ('active in' if !has_completed_tickets && i == 1) }
          %table.table.table-bordered.table-striped.table-sm.mb-0
            %tbody
              - events.sort_by{|s| s.created_at}.reverse.each do |event|
                %tr
                  %td= event.event_type.upcase
                  %td
                    = "By #{event.user.full_name} #{event.created_at.in_time_zone("US/Pacific").strftime('%m/%d/%Y %l:%M %p')}"
                    %br
                    = event.event_details
                  %td
                    - if event.event_type == "note" && !event.acknowledged?
                      = link_to "clear note", new_event_resolution_path(event), remote: true
                      %br
                      %small
                        %a{"data-target" => "#createServiceTicketModal_#{dom_id(@vehicle)}", "data-toggle" => "modal", :type => "link", href: ''}
                          create service ticket

                  %td
                    - event.resolutions.each do |resolution|
                      %div.py-1
                        %strong= "#{resolution.user.full_name}'s action on #{resolution.created_at.in_time_zone("US/Pacific").strftime('%m/%d/%Y')}"
                        %br
                        = resolution.details
  .row.p-2
    .col
      - if @vehicle.parking_space&.geo_info && @context != 'lot_view'
        / Button trigger modal
        = link_to vehicle_show_map_path(@vehicle), remote: true do
          %i.fa.fa-map-marker
          Show Map

    .col
      %a#showVehicleDataFeed{"data-target" => "#vehicleDataFeed", "data-toggle" => "modal", :type => "link", href: ''}
        %i.fa.fa-laptop
        View Data Feed
    .col.text-right
      - if current_user.permission_level == "admin" || current_user.permission_level == "sales_manager"
        = link_to vehicle_path(@vehicle, display_mode: params[:display_mode]), method: :delete, class: 'text-danger', data: {confirm: 'Are you sure?'} do
          %i.fa.fa-trash
          Delivered (Delete)

/ Data Feed Modal
#vehicleDataFeed.modal{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .bg-light
          = @vehicle.raw_data_feed_output
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close

= render partial: 'service_tickets/partials/create_ticket_modal_form'


