=# @vehicle.inspect
.card
  .card-body.pb-0
    .row
      .col-8
        = "#{@vehicle.make} #{@vehicle.model} (#{@vehicle.stock_number}) History"
        %br
        %strong= @vehicle.vin
      .col-4.text-right
        %a.small{"data-target" => "#createServiceTicketModal", "data-toggle" => "modal", :type => "link", href: ''}
          Create service ticket
        %br
        = link_to "Hold options", "#", class: 'small', "aria-expanded" => "false", "data-target" => "#holdsContainer", "data-toggle" => "collapse" 
    %hr.m00
    = form_for @vehicle, url: vehicle_path(@vehicle), method: :put do |f|
      .row              
        .col-2
          %label.small.mb-0 Year
          = f.text_field :year, placeholder: 'Year', class: 'form-control form-control-sm'
        .col-2
          %label.small.mb-0 Make
          = f.text_field :make, placeholder: "Make", class: 'form-control form-control-sm'
        .col-4
          %label.small.mb-0 Model
          = f.text_field :model, placeholder: "Model",  class: 'form-control form-control-sm'
        .col-2
          %label.small.mb-0 Color
          = f.text_field :color, placeholder: "Color", class: 'form-control form-control-sm'
        .col-2
          = f.submit "Update", class: 'btn btn-sm btn-primary btn-block mt-4'
      .row
        .col-12
          #holdsContainer.collapse
            %hr.mb-0
            .py-1
              .row
                .col-6
                  %label.small.mb-0
                    Place this vehicle on a Sales Hold
                    = f.check_box :sales_hold, class: 'ml-1'
                  = f.text_area :sales_hold_notes, placeholder: 'Sales Hold Notes', rows: 2, class: 'form-control form-control-sm'
            .bg-light.py-2
              .row
                .col-6
                  %label.small.mb-0
                    Place this vehicle on a Service Hold
                    = f.check_box :service_hold, class: 'ml-1'
                  = f.text_area :service_hold_notes, placeholder: 'Service Hold Notes', rows: 2, class: 'form-control form-control-sm'
    - if @events.any?
      %hr.mb-0
      .row
        .col-6
          - if @events.where(event_type: 'change_stall').any?
            %table.table.table-sm.mb-0.bg-light
              %tbody
                %tr
                  %td.align-middle
                    %h2.mb-0
                      = (DateTime.current.in_time_zone("US/Pacific").to_date - @events.where(event_type: 'change_stall').order(:created_at).last.created_at.in_time_zone("US/Pacific").to_date).to_i
                  %td.align-middle
                    days
                  %td.align-middle
                    %i.fa.fa-car
                  %td.align-middle{style:"line-height:12px;"}
                    %small
                      = "This vehicle has not moved in #{time_ago_in_words(@events.where(event_type: 'change_stall').order(:created_at).last.created_at.in_time_zone("US/Pacific"))}."
                  
        .col-6
          %table.table.table-sm.mb-0
            %tbody
              %tr
                %td.align-middle
                  %h2.mb-0
                    = (DateTime.current.in_time_zone("US/Pacific").to_date - @events.order(:created_at).last.created_at.in_time_zone("US/Pacific").to_date).to_i
                %td.align-middle
                  days
                %td.align-middle
                  %i.fa.fa-user
                %td.align-middle{style:"line-height:12px;"}
                  %small
                    = @events.order(:created_at).last.event_type.titleize
                    %br
                    = @events.order(:created_at).last.user.full_name
    %hr.mt-0
    - grouped_events = @events.group_by(&:event_type)
    
    %ul.nav.nav-tabs.mt-0{:role => "tablist"}

      - grouped_events.keys.each_with_index do |key, i|
        %li.nav-item
          %a.nav-link{"data-toggle" => "tab", :href => "##{key}", :role => "tab", class: ('active' if i == 0)}
            = "#{key.titleize} (#{grouped_events[key].count})"
    .tab-content.mt-3
      - grouped_events.each do |k, events|   
        .tab-pane{:role => "tabpanel", id: k, class: ('active in' if grouped_events.first[0] == k).to_s }   
          %table.table.table-bordered.table-striped.table-sm.mb-0
            %tbody
              - events.sort_by{|s| s.created_at}.reverse.each do |event|
                %tr
                  %td= event.event_type.upcase
                  %td
                    = "Created By #{event.user.full_name} #{event.created_at.strftime('%m/%d/%Y')}"
                    %br
                    = event.event_details
                  %td
                    - if event.event_type == "note" && !event.acknowledged?
                      = link_to "clear note", new_event_resolution_path(event), remote: true
                      %br
                      %small
                        %a{"data-target" => "#createNoteTicketModal_#{event.id}", "data-toggle" => "modal", :type => "link", href: ''}
                          create service ticket

                      .modal{id: "createNoteTicketModal_#{event.id}", "aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
                        .modal-dialog.modal-lg{:role => "document"}
                          .modal-content
                            .modal-header
                              %h3 Create Service Ticket
                            = form_for :service_ticket, url: service_tickets_path, method: :post do |f|
                              .modal-body
                                = f.hidden_field :status, value: 'New'
                                = f.hidden_field :created_by_user_id, value: current_user.id
                                .form-group
                                  .row
                                    .col-3
                                      %label Stock Number
                                      = f.text_field :stock_number, value: @vehicle.stock_number, class: 'form-control'
                                    .col-3
                                      %label Make
                                      = f.text_field :make, value: @vehicle.make, class: 'form-control'
                                    .col-3
                                      %label Model
                                      = f.text_field :model, value: @vehicle.model, class: 'form-control'
                                    .col-3
                                      %label Year
                                      = f.text_field :year, value: @vehicle.year, class: 'form-control'
                                .form-group
                                  .row
                                    .col-3
                                      %label Vin
                                      = f.text_field :vin, value: @vehicle.vin, class: 'form-control'
                                    .col-3
                                      %label Color
                                      = f.text_field :color, value: @vehicle.color, class: 'form-control'
                                    .col-3
                                      %label Miles
                                      = f.text_field :mileage, value: @vehicle.mileage, class: 'form-control'

                                    
                                .form-group
                                  .row
                                    .col-6
                                      %label Complete By
                                      = f.text_field :complete_by_datetime, value: (@service_ticket&.complete_by_datetime || DateTime.current).in_time_zone("Pacific Time (US & Canada)").strftime("%d %B %Y %l:%M %p %Z"), class: 'form-control'
                                      
                                    .col-6
                                      %label Job Title
                                      = text_area_tag "service_ticket_job[title]", event&.event_details, class: 'form-control'
                                      = hidden_field_tag 'service_ticket_job[user_id]', current_user.id
                             
                              .modal-footer
                                = f.submit "Create Service Ticket", class: 'btn btn-primary'

                      
                  %td
                    - event.resolutions.each do |resolution|
                      %div.py-1
                        %strong= "#{resolution.user.full_name}'s action on #{resolution.created_at.strftime('%m/%d/%Y')}"
                        %br
                        = resolution.details
  .row.p-2
    .col
      - if @vehicle.parking_space&.geo_info
        / Button trigger modal
        %a#showVehicleTrigger{"data-target" => "#mapModal", "data-toggle" => "modal", :type => "link", href: ''}
          %i.fa.fa-map-marker
          Show Map

    .col
      %a#showVehicleDataFeed{"data-target" => "#vehicleDataFeed", "data-toggle" => "modal", :type => "link", href: ''}
        %i.fa.fa-laptop
        View Data Feed
    .col.text-right
      - if current_user.permission_level == "admin" || current_user.permission_level == "sales_manager"
        = link_to vehicle_path(@vehicle), method: :delete, class: 'text-danger', data: {confirm: 'Are you sure?'} do
          %i.fa.fa-trash
          Delete

/ Data Feed Modal
#vehicleDataFeed.modal{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .bg-light
          = @vehicle.raw_data_feed_output
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close

.modal{id: "createServiceTicketModal", "aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %h3 Create Service Ticket
      = form_for :service_ticket, url: service_tickets_path, method: :post do |f|
        .modal-body
          = f.hidden_field :status, value: 'New'
          = f.hidden_field :created_by_user_id, value: current_user.id
          .form-group
            .row
              .col-3
                %label Stock Number
                = f.text_field :stock_number, value: @vehicle.stock_number, class: 'form-control'
              .col-3
                %label Make
                = f.text_field :make, value: @vehicle.make, class: 'form-control'
              .col-3
                %label Model
                = f.text_field :model, value: @vehicle.model, class: 'form-control'
              .col-3
                %label Year
                = f.text_field :year, value: @vehicle.year, class: 'form-control'
          .form-group
            .row
              .col-3
                %label Vin
                = f.text_field :vin, value: @vehicle.vin, class: 'form-control'
              .col-3
                %label Color
                = f.text_field :color, value: @vehicle.color, class: 'form-control'
              .col-3
                %label Miles
                = f.text_field :mileage, value: @vehicle.mileage, class: 'form-control'

              
          .form-group
            .row
              .col-6
                %label Complete By
                = f.text_field :complete_by_datetime, value: (@service_ticket&.complete_by_datetime || DateTime.current).in_time_zone("Pacific Time (US & Canada)").strftime("%d %B %Y %l:%M %p %Z"), class: 'form-control'
              .col-6
                %label Job Title
                = text_area_tag "service_ticket_job[title]",nil, class: 'form-control'
                = hidden_field_tag 'service_ticket_job[user_id]', current_user.id
       
        .modal-footer
          = f.submit "Create Service Ticket", class: 'btn btn-primary'
- if @vehicle.parking_space&.geo_info
  :javascript
    $(function(){
      setTimeout(function(){

        layer = window.map.getLayer('singleVehicle');
        if (layer){
          window.map.removeLayer('singleVehicle');
          window.map.removeSource('singleVehicle');
        }
        window.map.addLayer({
          'id': 'singleVehicle',
          'type': 'fill',
          'source': {
              'type': 'geojson',
              "data": {
                        "type": "Feature",
                        "geometry": #{raw(@vehicle.parking_space&.geo_info['geometry'].to_json)}
                      }
          },
          'layout': {},
          'paint': {
            'fill-color': "#{@vehicle.usage_type == "is_used" ? '#66CC00' : '#006699'}",
          }
        });

        map.flyTo({center: #{raw(@vehicle.parking_space&.geo_info['geometry']['coordinates'][0][0].to_json)}});

      }, 500);
    })