.row.no-gutters
  - @vehicles.each do |usage_type, vehicles|
    .col-4.small
      = link_to vehicles_path(filter: {usage_type: usage_type, creation_source: 'user_created'}) do

        - if usage_type == "is_new"
          %strong= "New UCV (#{vehicles.count})"
        - else
          %strong= "Used UCV (#{vehicles.count})"

      %div{class: ('collapse' if params.dig(:filter,:usage_type) != usage_type) }

        - vehicles.group_by(&:year).each do |year, vehicles|

          %h4.mb0= "#{year.presence || 'Unknown'} (#{vehicles.count})"

          - vehicles.group_by(&:trim_level).each do |trim_level, vehicles|
            .mt-2
              %strong.text-default #{trim_level.presence || 'Unknown'} (#{vehicles.count})
              %div
                - vehicles.each do |vehicle|
                  = link_to vehicle_show_info_modal_path(vehicle), remote: true, onclick:"$('#vehicle_data_container').html('Loading...');" do
                    %span.text-blue= vehicle.stock_number
                  = vehicle.color
                  = number_to_currency vehicle.sale_price
                  %br