/ Page Content
= render partial: 'shared/maxbox_dependencies'
= javascript_include_tag('vehicle_manager')
.container-fluid
  .row
    .col-lg-5
      = render partial: 'tags/new'
      .table-responsive
        %table.table.table-bordered.table-striped.table-sm
          %thead
            %tr
              %th VIN
              %th Year
              %th Make
              %th Model
              %th Age
              
          %tbody.small
            - @vehicles.each do |vehicle|
              %tr
                %td= vehicle.vin
                  
                %td
                  = vehicle.year
                %td
                  = link_to vehicle_path(vehicle), remote: true do
                    = vehicle.make
                %th
                  = link_to vehicle_path(vehicle), remote: true do
                    = vehicle.model
                %th
                  = time_ago_in_words(vehicle.created_at).to_i
               
        = link_to "Add New Vehicle", new_vehicle_path, class: 'btn btn-small btn-primary'
      
    .col-md-7
      #vehicleDetailContainer

      / Modal
      #mapModal.modal{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog.modal-lg{:role => "document"}
          .modal-content
            .modal-header
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
            .modal-body
              .row
                #map{ :style => "width: 100%; height: 400px" }        
                .d-none
                  //place all dom-dependent info here
                  %input#dealership_map_bearing{value: current_user.dealership.map_bearing }
                  %input#dealership_map_zoom{value: current_user.dealership.map_zoom }          
            .modal-footer
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
      
:javascript
  $(function(){
    $('#mapModal').on('shown.bs.modal', function (event) {
      //the map was just shown, here we can extract just the vehicle in question. and render it to the map
      window.map.resize();
    }); 
  })
           
