= javascript_include_tag('multi-qr-generation.js')

.container-fluid
  .row
    .col-sm-6
      = render partial: 'vehicles/index'

      -if @deleted_vehicles.present?
        = render partial: 'vehicles/deleted_index'

    -#---- RIGHT SIDE STARTS HERE
    .col-sm-6
      #vehicleDetailContainer
      #vehicle_data_container
      = render partial: 'vehicles/new_vehicle_groupings_container'

      = render partial: 'vehicles/user_created_groupings_container'

      -if current_user.special_permissions.include?('generate_bar_codes')
        %hr

        %h5
          .row
            .col-6
              = link_to "Manually Generate QR Code", "#", class: 'small', "aria-expanded" => "false", "data-target" => "#barCodeContainer", "data-toggle" => "collapse"
            .col-6
              .btn.btn-sm.btn-outline-primary.js-activate-multi-qr-mode
                Activate Multi QR Mode
              .btn.btn-sm.btn-outline-secondary.d-none.js-submit-multi-qr-mode
                Generate All




        .collapse{id: "barCodeContainer"}
          = form_for :barcode, url: barcodes_path(format: :pdf), method: :post do
            .form-group
              %label Stock Number*
              = text_field_tag "stock_number", nil, class: 'form-control', placeholder: '89293', required: true
            .form-group
              %label VIN*
              %small
                %strong (min length 17 characters)
              = text_field_tag "vin", nil, minlength: 17, class: 'form-control', placeholder: '3VW5T7AU2KM028967', required: true
            .form-group
              = submit_tag "Create printout", class: 'btn btn-primary'


= render partial: 'shared/map_popover'

:javascript
  $(function(){

    $(document).on('click', '.close', function(){
      hide_vehicle_data();
    })
  })

  function show_loading(){
    $('#vehicleDetailContainer').html('Loading...')
  }


  function hide_vehicle_data(){
    $('#vehicle_data_container').html('');
    $("tr").removeClass('bg-warning');
  }
