.container
  .row
    .col-md-12
      .table-responsive
        %table.table.table-bordered.table-striped.table-sm
          %thead
            %tr
              %th ID
              %th VIN
              %th Year/Make/Model
              %th.text-center 
                %i.fa.fa-pencil
          %tbody
            - @vehicles.each do |vehicle|
              %tr
                %td= vehicle.id
                %td= vehicle.vin
                  
                %td= "#{vehicle.year} #{vehicle.make} #{vehicle.model}"
                %td.text-center
                  = link_to edit_vehicle_path(vehicle) do
                    %i.fa.fa-pencil

        = link_to "Add Vehicle", new_vehicle_path, class: 'btn btn-small btn-primary'

              

        =# paginate @vehicles     