/ Page Content
= render partial: 'shared/maxbox_dependencies'
= javascript_include_tag('vehicle_manager')
.container-fluid
  .row
    .col-lg-3
      %h2.m-0.mt-3 Vehicle Tag Manager
      %small.small.text-muted
        - @grouped_shapes.each do |k, v|
          = pluralize(v, k).titleize

      = render partial: 'tags/new'

      %ul.list-group
        - @vehicles.each do |vehicle|
          %li.list-group-item.vehicle-list{id: dom_id(vehicle)}
            .row
              .col
                %i.fa.fa-car{class: (vehicle.is_used? ? "text-green" : "text-blue").to_s}
                = vehicle.vin
              .col
                - if vehicle.current_parking_tag.present?
                  Parked
                  = time_ago_in_words( vehicle.current_parking_tag.created_at) + " ago"
                  - if vehicle.current_parking_tag.note.present?
                    %i.fa.fa-file.has-popover.text-success{data: { content: vehicle.current_parking_tag.note, placement: "bottom" }}

                - else
                  Not Parked
              .col-1
                - if vehicle.current_parking_tag.present?
                  = link_to tag_deactivate_path(vehicle.current_parking_tag) do
                    %i.fa.fa-refresh

    .col-lg-9
      #map{ :style => "width: 100%; height: 550px" }
      
      .d-none
        //place all dom-dependent info here
        %input#dealership_map_bearing{value: current_user.dealership.map_bearing }
        %input#dealership_map_zoom{value: current_user.dealership.map_zoom }

.container
  .row
    .col-md-12
      .table-responsive
        %table.table.table-bordered.table-striped.table-sm
          %thead
            %tr
              %th ID
              %th VIN
              %th Year/Make/Model
              %th.text-center 
                %i.fa.fa-pencil
          %tbody
            - @vehicles.each do |vehicle|
              %tr
                %td= vehicle.id
                %td= vehicle.vin
                  
                %td= "#{vehicle.year} #{vehicle.make} #{vehicle.model}"
                %td.text-center
                  = link_to edit_vehicle_path(vehicle) do
                    %i.fa.fa-pencil

        = link_to "Add Vehicle", new_vehicle_path, class: 'btn btn-small btn-primary'

              

        =# paginate @vehicles     