/ Page Content
= render partial: 'shared/maxbox_dependencies'
= javascript_include_tag('vehicle_manager')
.container-fluid
  .row
    - cache "#{current_user.dealership.id}/vehicles/index?#{params}" do
      = render partial: 'vehicles/index'

    .col-sm-6
      #vehicleDetailContainer
      #vehicle_data_container
      .row.no-gutters
        - cache "#{current_user.dealership.id}/vehicles/index/new_vehicles/?#{params}" do
          - @all_vehicles.where(usage_type: "is_new").group_by(&:model).sort_by{ |key| key }.to_h.each do |model, vehicles|
            .col-4.mt-3.small
              = link_to vehicles_path(filter: {model: model}) do
                %strong #{model} (#{vehicles.count})

              - if params.dig(:filter, :model) == model
                - vehicles.group_by(&:trim_level).each do |trim_level, vehicles|
                  .mt-2
                    %strong.text-default #{trim_level} (#{vehicles.count})
                    %div
                      - vehicles.each do |vehicle|
                        = link_to vehicle_show_info_modal_path(vehicle), remote: true, onclick:"$('#vehicle_data_container').html('Loading...');" do
                          %span.text-blue= vehicle.stock_number
                        = vehicle.color
                        = number_to_currency vehicle.sale_price
                        %br

      / Modal
      #mapModal.modal{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog.modal-lg{:role => "document"}
          .modal-content
            .modal-header
              .content
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
            .modal-body
              .row
                #map{ :style => "width: 100%; height: 400px" }
                .d-none
                  //place all dom-dependent info here
                  %input#dealership_map_bearing{value: current_user.dealership.map_bearing }
                  %input#dealership_map_zoom{value: current_user.dealership.map_zoom }
            .footer


:javascript
  $(function(){
    $('#mapModal').on('shown.bs.modal', function (event) {
      //the map was just shown, here we can extract just the vehicle in question. and render it to the map
      window.map.resize();
    });

    $(document).on('click', '.close', function(){
      hide_vehicle_data();
    })
  })

  function show_loading(){
    $('#vehicleDetailContainer').html('Loading...')
  }


  function hide_vehicle_data(){
    $('#vehicle_data_container').html('');
    $("tr").removeClass('bg-warning');
  }
