.container-fluid
  .row.mb-1
    .col-md-2
      %h3.text-center Service Tickets

    .col-md-10
      = form_for :filters, url: service_tickets_path, method: :get, autocomplete: "off" do
        .row
          .col-lg-2
            .form-group
              = text_field_tag "search[stock_number]", params.dig(:search, :stock_number), class: 'form-control-sm form-control', placeholder: 'Search Stock #'
          .col-lg-2
            = submit_tag 'Search', class: 'btn btn-primary btn-sm'
      .table-responsive.small{style: 'max-height: 80vh;'}
        %table.table.table-striped.table-sm.mb-0.board-manager-table
          %thead
            %tr
              %th
                %i.fa.fa-pencil
              %th Date
              %th Stock #
              %th Make
              %th Model
              %th Year
              %th Written By
              %th Time in Shop
              %th Dept.
              %th Status

          %tbody
            %tr
              %td{colspan: 9}
                %strong OPEN
            - @service_tickets.incomplete.order(created_at: :desc).each do |service_ticket|
              %tr
                %td
                  = link_to service_ticket_path(service_ticket) do
                    %i.fa.fa-pencil.edit-icon
                %td= service_ticket.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%Y-%m-%d")
                %td= service_ticket.stock_number
                %td= service_ticket.make
                %td= service_ticket.model
                %td= service_ticket.year
                %td= service_ticket.created_by_user.full_name
                %td
                  = distance_of_time_in_words(DateTime.current.in_time_zone("Pacific Time (US & Canada)"), service_ticket.created_at.in_time_zone("Pacific Time (US & Canada)") )
                %td
                  = service_ticket.service_ticket_departments.pluck(:name).map{|d| d[0]&.upcase}.join('')
                %td.text-danger= service_ticket.status

            %tr
              %td{colspan: 9}
                %strong COMPLETED


            - @service_tickets.complete.order(created_at: :desc).each do |service_ticket|
              %tr
                %td
                  = link_to service_ticket_path(service_ticket) do
                    %i.fa.fa-pencil.edit-icon
                %td= service_ticket.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%Y-%m-%d")
                %td= service_ticket.stock_number
                %td= service_ticket.make
                %td= service_ticket.model
                %td= service_ticket.year
                %td= service_ticket.created_by_user.full_name
                %td
                  - if service_ticket.completed_at
                    = distance_of_time_in_words(service_ticket.completed_at.in_time_zone("Pacific Time (US & Canada)"), service_ticket.created_at.in_time_zone("Pacific Time (US & Canada)") )
                %td
                  = service_ticket.service_ticket_departments.pluck(:name).map{|d| d[0]}.join(' ')
                %td.text-danger= service_ticket.status





