.container-fluid
  .row.mb-1
    .col-md-2
      %h3 MTD New Vehicle Report
      %small
        .text-center
          = "(since #{current_user.dealership.custom_mtd_start_date || "N/A"})"
      = link_to '< Board Manager', board_manager_path()

      .card.text-center.mt-5
        .card-header
          Sales MTD (#{@grouped_deals.values.map(&:count).sum})
        .card-body.small
          %small
            - @grouped_deals.reverse_each do |model, deals|
              = model
              = " (#{deals.count})"
              %hr.my-1
    .col-md-10
      = form_for :filters, url: new_vehicle_report_board_manager_path, method: :get, autocomplete: "off" do
        .row.my-2
          .col-md-9.form-inline{style: 'margin-top: -5px;'}
            .input-group
              .input-group-prepend
                %span.input-group-text{style:'padding: 0 5px;'}
                  %i.fa.fa-calendar
              = text_field_tag "filters[start_date]", params.dig(:filters, :start_date), autocomplete: "off", placeholder: 'Start Date', class: 'form-control form-control-sm mr-1 datepicker', style: 'width: 100px;'
            .input-group
              .input-group-prepend
                %span.input-group-text{style:'padding: 0 5px;'}
                  %i.fa.fa-calendar
              = text_field_tag "filters[end_date]", params.dig(:filters, :end_date), autocomplete: "off", placeholder: 'End Date', class: 'form-control form-control-sm mr-1 datepicker', style: 'width: 100px;'

              = submit_tag 'Search', class: 'ml-2 btn btn-sm btn-outline-secondary'
      .table-responsive.small{style: 'max-height: 80vh;'}
        %table.table.table-striped.table-sm.mb-0.board-manager-table
          %thead
            %tr
              %th
                %i.fa.fa-pencil
              %th Last
              %th Stock #
              %th Source
              %th New
              %th Used
              %th Trade
              %th Sales Rep
              %th Split
              %th City
              %th Result
              %th Report

          %tbody
            - @grouped_deals.reverse_each do |model, deals|
              %tr
                %td.bg-light{colspan: 12}
                  %strong
                    = model
                    = " (#{deals.count})"
              - deals.each do |deal|
                = render partial: 'deals/shared/deal_row', locals: {deal: deal}

= render partial: 'shared/map_popover'

:javascript
  $(function() {
    $('.datepicker').datepicker({
      dateFormat: 'yy-mm-dd'
     });
  });
