.container-fluid
  .row.mb-1
    .col-md-2
      %h3 Running Total
      
      = link_to '< Board Manager', board_manager_path()

    .col-md-10  
      = form_for :filters, url: running_total_board_manager_path, method: :get, autocomplete: "off" do
        .row.my-2
          .col-md-9.form-inline{style: 'margin-top: -5px;'}
            .input-group
              .input-group-prepend
                %span.input-group-text{style:'padding: 0 5px;'}
                  %i.fa.fa-calendar
              = text_field_tag "filters[start_date]", params.dig(:filters, :start_date), autocomplete: "off", placeholder: 'Start Date', class: 'form-control form-control-sm mr-1 datepicker', style: 'width: 100px;'
            .input-group
              .input-group-prepend
                %span.input-group-text{style:'padding: 0 5px;'}
                  %i.fa.fa-calendar
              = text_field_tag "filters[end_date]", params.dig(:filters, :end_date), autocomplete: "off", placeholder: 'End Date', class: 'form-control form-control-sm mr-1 datepicker', style: 'width: 100px;'
            
              = submit_tag 'Search', class: 'ml-2 btn btn-sm btn-outline-secondary' 

          .col-md-3
            = link_to 'Print Report', running_total_board_manager_path(request.parameters.merge(format: :pdf)), class: 'btn btn-secondary btn-sm ml-auto pull-right'
      .table-responsive.small{style: 'max-height: 80vh;'}
        %table.table.table-striped.table-sm.mb-0.board-manager-table
          %thead
            %tr
              %th
                %i.fa.fa-pencil
              %th Last
              %th Stock #
              %th Source
              %th
                = link_to running_total_board_manager_path(sortings: {is_used: params.dig(:sortings, :is_used) == 'asc' ? "desc": "asc"}, filters: params[:filters].as_json ) do
                  New
                  - if params.dig(:sortings, :is_used) == "asc"
                    %i.fa.fa-sort-up
                  - else
                    %i.fa.fa-sort-down
              %th Used
              %th Trade
              %th Sales Rep
              %th Split
              %th City
              %th Result
              %th Report
              %th
                = link_to running_total_board_manager_path(sortings: {f_i_pre_sell: params.dig(:sortings, :f_i_pre_sell) == 'asc' ? "desc": "asc"}, filters: params[:filters].as_json ) do
                  Pre-sell
                  - if params.dig(:sortings, :f_i_pre_sell) == "asc"
                    %i.fa.fa-sort-up
                  - else
                    %i.fa.fa-sort-down
              
          %tbody
            - @grouped_deals.reverse_each do |date, deals|
              %tr
                %td.bg-light{colspan: 13}
                  %strong
                    = date.strftime("%m/%d/%Y")
                    = " (#{deals.count})"
              - deals.each do |deal|
                = render partial: 'deals/shared/deal_row', locals: {deal: deal, include_presell: true}

                 
 
:javascript
  $(function() {
    $('.datepicker').datepicker({
      dateFormat: 'yy-mm-dd'
     });
  });
               