.container-fluid
  .row.mb-1
    .col-md-2
      %h3 MTD Used Vehicle Report
      %small
        .text-center
          = "(since #{DateTime.now.in_time_zone("Pacific Time (US & Canada)").beginning_of_month.strftime("%Y-%m-%e")})"
      = link_to '< Board Manager', board_manager_path()

      .card.text-center.mt-5
        .card-header
          Sales MTD (#{@grouped_deals.values.map(&:count).sum})
        .card-body.small
          %small
            - deal_rep_attribution_counts(@deals).sort_by{ |k, v| v[:new] + v[:used] }.reverse_each do |rep, deals|
              = "<b>#{rep.presence || 'Unknown Rep'}</b> (#{number_with_precision(deals[:new] + deals[:used], significant: true, precision: 2, strip_insignificant_zeros: true)})".html_safe
              %hr.my-1
    .col-md-10
      .table-responsive.small{style: 'max-height: 80vh;'}
        %table.table.table-striped.table-sm.mb-0.board-manager-table
          %thead
            %tr
              %th
                %i.fa.fa-pencil
              %th Last
              %th Stock #
              %th Source
              %th New
              %th Used
              %th Trade
              %th Sales Rep
              %th Split
              %th City
              %th Result
              %th Report

          %tbody
            - @grouped_deals.reverse_each do |date, deals|
              %tr
                %td.bg-light{colspan: 12}
                  %strong
                    = date.strftime("%m/%d/%Y")
                    = " (#{deals.count})"
              - deals.each do |deal|
                = render partial: 'deals/shared/deal_row', locals: {deal: deal}

= render partial: 'shared/map_popover'

