!!!
%html
  %head
    %title LotWing
    = csrf_meta_tags
    %meta{charset: 'utf-8'}
    
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    
  %body
    / Navigation
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-1.p-0
      .container
        %a.navbar-brand
          = image_tag "logo_light.png", style: 'max-width:150px;'
        %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            = render partial: 'layouts/shared/logged_in_nav' if user_signed_in?
            = render partial: 'layouts/shared/logged_out_nav' unless user_signed_in?
       
    .container   
      - if user_signed_in?  
        %ul.nav.nav-tabs.nav-justified.mb-2
          %li.nav-item
            = link_to root_path, class: 'nav-link' + (' active' if params[:controller] == 'home' && params[:action] == 'show').to_s do
              Lot View
          %li.nav-item
            = link_to vehicles_path, class: 'nav-link' + (' active' if params[:controller] == 'vehicles' && params[:action] == 'index').to_s do
              Vehicle Manager
          %li.nav-item
            = link_to map_builder_path, class: 'nav-link' + (' active' if params[:action] == 'map_builder').to_s do
              Map Builder

          %li.nav-item.disabled
            %a.nav-link.disabled{:href => "#"} Report
    = yield
